[2020-11-03 15:04] pared opened #1 "Work on dvclive"
Implement dvclive and integrate with popular frameworks.

[2020-11-18 13:02] pared opened #3 "dvclive: restaring logging from certain step"
To integrate with `dvc`'s experiments, we will need to be able to read certain step and append upcoming steps to existing history files.

[2020-11-18 13:17] pared opened #4 "tests: integrations with DVC"
Those should probably be made in `dvc` repo, but I create issue here to not clutter the main repo.

- [x] "normal" use case - `dvc --logs` produces plots and metrics
- [x]  checkpoints - we should be able to `plots show/diff` and `metrics diff` for experiments using `checkpoints`

[2020-11-19 10:47] pared opened #5 "integrations: sklearn"
Seems we should be supporting at least few popular frameworks.

Considering their popularity, we should probably start with:
- [x] keras - we have initial implementation
- [x] ~~sklearn~~
- [x] xgboost

Worth considering:
- [x] - ~FastAi~ - #136
- [x] - pytorch lightning

`TF` and `PyTorch` - it seems to me that using their pure form is done when users need highly custom models, and probably in th

[2020-11-26 14:48] pared opened #6 "tensorflow integration: fix installation"
Currently we setting up tensorflow by trying to check if its already installed (by importing it in `setup.py`), If it does not exist, we install cpu version.

I think even installing tf for users is suboptimal. We should probably just check if `tf` is installed and print help how to install it, so that user install version that matches his needs.

But the problem with this approach is that it will

[2020-11-27 12:38] pared opened #7 "dvc integration: summarizing already running experiment"
Scenario:
1. We run experiment, with logger turned on
2. We want to take a peek into our training
3. We run a command `dvc logs show --continuous {target}` (I presume `dvc logs show {target}` will be reserved for ad-hoc check
4. Command keeps generating new HTML until we are done with training

We need to detach summary generation from `dvclive` (as it is done currently).

EDIT:
probably we do not

[2020-11-27 16:22] pared opened #8 "dvc integration: handling dvclive- produced metrics and plots"
I would like to start a discussion on how do we let our users specify that particular directory is a logs dir.

1. What `dvclive` produces?
Lets assume we initialized `dvclive` in code:
`dvclive.init("live_logs")`
As of today, when we use `dvclive` it dumps the history of particular logged metrics into respective `.tsv` files under "live_logs"

[code]
`accuracy.tsv` - stores history of `accuracy`

[2020-12-01 16:39] pared opened #9 "logging: infer when the step should be finalized"
Currently we require user to call `next_step` to append metrics to history, and dump new summary json.

We could probably omit that with some logic, eg:
- assume new step when trying to insert duplicated key to metrics dict.

Worth checking if and how other tools deal with that.

[2020-12-01 16:41] pared opened #10 "summary: add option to supress"
In some cases user might not need summary json and just metrics history.
Add a way to prevent `dvclive` from dumping the latest step metrics.

[2020-12-01 17:20] #10 closed, assigned to nobody

[2020-12-16 16:33] pared opened #15 "dvclive: reconsider initialization"
Currently, when doing `from dvclive import dvclive`
we are initializing empty logger. Only calling `dvclive.init` actually "inits" the object.
We also have `init` function that calls `dvclive.init`.
As a result, for example in one of the [tests](https://github.com/iterative/dvclive/blob/619c4d03514bda14f5301fa275aba8db348e9386/tests/test_main.py#L130) we need to initialize `DvcLive` by hand, becau

[2020-12-16 16:36] #3 closed, assigned to nobody

[2020-12-21 16:04] pared opened #16 "dvc live command: adjust behavior to plots/metrics commands"
Make command `dvc live` produce html for `live` output type.

[2020-12-29 13:08] #1 closed, assigned to nobody

[2020-12-30 12:17] pared opened #17 "fix naming among the project"
During development I made some arbitrary decisions that needs to be reconsidered:
- [x] `next_step` - shouldn't it be `next_epoch` or even just `next`?
- [x] `init` args - `report`, `dump_latest`, `step` - its hard to grasp what does what

While at it, it would be good to take care of `dvc` -side too

[2021-01-04 16:43] #16 closed, assigned to nobody

[2021-01-04 16:46] #8 closed, assigned to pared

[2021-01-04 16:52] #7 closed, assigned to pared

[2021-01-04 16:57] #9 closed, assigned to pared

[2021-01-04 18:21] #15 closed, assigned to pared

[2021-01-04 18:22] pared opened #19 "tests: add pylint-plugin"
We should not get some messages in case of tests (eg `protected-access`)

[2021-01-04 22:55] pared opened #20 "logging: dvc - dvclive logging integration"
it would be good if we could show `dvclive` logs during `dvc -v`

[2021-01-12 13:59] #17 closed, assigned to nobody

[2021-01-12 14:00] pared opened #24 "html generation: signal DVC via signal file"
We could drop `dvc` as project dependency if we were to use some env variable/tmp file (like checkpoints do) to signal dvc to generate HTML report.

[2021-01-12 14:01] pared opened #25 "project: merge with dvcx?"
consider merging the project with `dvcx`

[2021-01-13 17:58] pared opened #27 "[DVC] refactor api"
In #23 we adjusted some api args naming. Need to do corresponding change for `dvc`.

[2021-01-19 14:11] pared opened #31 "[DVC] test integration"
Still need to write test for `checkpoint` resume/reset use case

[2021-01-20 11:45] #20 closed, assigned to pared

[2021-01-20 13:36] pared opened #32 "make build run dvc live tests"
As a build step, we could clone dvc repo and run live integration tests.
It might be worth considering to move all integration tests to `dvclive`
Related to #28

[2021-01-26 13:33] #31 closed, assigned to pared

[2021-01-29 11:39] pared opened #36 "api: make dvclive thread safe"
Currently only safe way to use `dvclive` in threads is to manually create `MericsLogger` class.

In other case, for example:
[code]

we will get mixed up results. Research whether it is possible to keep current API functionality and be thread safe at the same time.

[2021-02-02 12:44] #27 closed, assigned to pared

[2021-02-02 12:45] pared opened #39 "[DVC] make live outputs use cache"

[2021-02-04 10:14] pared opened #40 "installation: implement installation with optional package support"
like `pip install dvclive[tensorflow]`
With all variants like
`all`, `tests`

[2021-02-04 12:07] #40 closed, assigned to nobody

[2021-02-17 08:08] jorgeorpinel opened #45 "docs: fix README and create documentation entry for dvclive"
UPDATE: Jump to https://github.com/iterative/dvclive/issues/45#issuecomment-858538315

Any chance you could make a quick draft for the needed API refs in https://dvc.org/doc/api-reference and maybe expand the README in this repo if needed to cover all the features @pared ? No need for details at first, just trying to cover everything even if it's just a brief mention of what you can do/how. Thanks

[2021-02-17 12:42] pared opened #48 "readme: migrate to rst"
Using markdown README, results in ugly description on pypi page:
[code]

[2021-02-17 13:05] #48 closed, assigned to pared

[2021-02-18 10:40] dmpetrov opened #51 "Introduce default directory"
[code]

Why don't we use a default dir if it is not set up explicitly?

[2021-02-18 10:54] dmpetrov opened #52 "Clean up summary and html files"
It seems like all the metrics files are cleaning up when `init()` is called. But summary and html files stay in the same place.
Should we clean them up as well?

[2021-02-19 03:13] dmpetrov opened #53 "dvc: random order in html"
If I regenerate html periodically during the training I'm getting random order of the plots.

The order should be stable and ideally, the same as the reporting order and metrics diff output order.

![image](https://user-images.githubusercontent.com/10081867/108452369-3a242f00-721d-11eb-92de-e70a4504bcd3.png)

[2021-02-22 19:32] dberenbaum commented on #25
@pared Can we close this issue?

[2021-02-22 22:36] pared commented on #25
@dberenbaum rigth!

[2021-02-22 22:36] #25 closed

[2021-03-02 14:39] pared commented on #45
Related to https://github.com/iterative/dvc.org/pull/2227

[2021-03-03 09:29] #24 closed

[2021-03-09 09:22] jorgeorpinel opened #60 "Should the `dvc stage add --live <path>` arg override `init(path)`?"
It's more of an idea for `dvc stage add` but I thought I'd ask here first (we can transfer the issue if needed).

If you call `dvc.init()` manually, `path` is always required. So in those cases, combined with using DVC, you have to match `path` with the arg. of `dvc stage add --live`. Seems error-prone.

The arg to `--live` could be optional. If there's no `init()` call in code, ~~then DVC would n

[2021-03-09 11:44] pared commented on #60
So, currently our integration is that we can provide `--live` to dvc, which will pass the information down to the code. Do I understand correctly that here we would make this process "in reverse"? If there is `dvclive.init` call, ping the DVC to add `live` output to currently executed stage? So that user does not even have to use `dvc run --live` or `dvc stage add` to mark `live`?

[2021-03-10 05:39] jorgeorpinel commented on #60
Not exactly. I'm suggesting that if there's an `init('path')` call in the code then there's no need for `stage add --list` to get an argument. Requiring it in that case means that if you don't use the exact `path` as in the code, there will be some sort of error anyway — what's the error text BTW?

I was thinking that the `--live` argument could be optional and DVC could error out if there's no `p

[2021-03-10 21:53] dberenbaum opened #61 "Proposal for more visual output options for standalone dvclive"
Currently, dvclive without dvc produces just a tsv output tracking metrics progress. This doesn't seem like enough to make it worthwhile for users. There are at least a few drawbacks to the current output:
* It's not visual - some kind of plot, progress bar, etc. would be easier to read
* It's in a separate file that needs to be opened and refreshed as training progresses

Ideally, it would be gre

[2021-03-11 10:38] pared commented on #5
@dberenbaum Yes, after digging through documentation, it seems to me that in general, learning algorithms divide to those which utilize `fit` method and both `fit` and `partial_fit`. It does not seem to me that we can provide integration for "only `fit`" models, and in case of `partial_fit` models, the workflow will probably look more like `torch` one, which in my opinion does not require any inte

[2021-03-11 10:45] pared commented on #60
@jorgeorpinel I think it makes sense. I was actually considering creating an issue with making `init` call required even when we are using `dvc`. The problem that not requiring `init` introduces is that in such case, we can execute the code only if we are doing it in `dvc` context. We would be unable to successfully run `python train.py` if there is no `init` call, which leads us to an unprecedent

[2021-03-11 19:31] jorgeorpinel commented on #60
What will happen to `stage add --live` in that case?

[2021-03-11 20:26] dberenbaum commented on #60
@jorgeorpinel See https://github.com/iterative/dvc/issues/5606. I'm hoping it can go away, but interested to hear what @pared thinks.

[2021-03-16 06:04] gusmith opened #63 "Installing dvclive breaks dvc's version command"
I wanted to test dvclive in a project I'm already using dvc.
My current version of dvc is 2.0.5.
After install dvclive, the command `dvc --version` returns `0.0.1` (which is thus also wrongly shown when running `dvc repro ...`).

Step to reproduce with python 3.8.7 on a Mac:
[code]

Some information (after installing `dvc` and `dvclive`:
[code]

It was tested in a project and repeated in a fresh v

[2021-03-21 17:44] discdiver commented on #63
Installing dvclive and running `dvc version` shows 0.0.1 for me, too.  Additionally, running `dvc exp run` , stopping training, and then running `dvc exp run` again results in the following output:

[code]

[2021-03-21 17:57] discdiver opened #64 "logger: add progress bar while training"
Very cool product! Thank you for it!

Would be nice if a progress bar like [TQDM](https://pypi.org/project/tqdm/) would update to STDOUT while training.

[2021-03-21 23:52] dberenbaum commented on #64
Thanks, @discdiver! Could you give more detail about what you would want to see? For example:

1. Progress within a step/epoch
2. Number of steps/epochs completed out of total number of steps/epochs
3. Model performance metrics

[2021-03-22 01:02] discdiver commented on #64
Those would all be great @dberenbaum! I was envisioning something like TensorFlow Keras's progress bars/info:

[code]

Example from the [docs](https://www.tensorflow.org/guide/keras/train_and_evaluate)

[2021-03-22 09:10] #63 closed

[2021-03-22 09:13] pared commented on #63
@gusmith @discdiver `0.0.2` Should have the bug fixed

[2021-03-22 09:30] pared commented on #64
@discdiver
This is a good idea. I have some thoughts how we could do that.
1. As we are working with `steps` I think this should be our measurement of progress
2. We need to know how much steps we have to go, so introducing this kind of feature will require us to provide information on `init`. I am thinking about something like: `dvclive.init(...,progress_max_steps=100)` which would tell `dvclive`

[2021-03-22 19:17] dberenbaum commented on #64
Related to #61:

It seems like the info could include:
1. All metrics being logged at each step
2. Number of steps completed / total steps (if provided)
3. Timer for each step and for total run time (personally, I like to see not only how much time elapsed, but also when each step started so that if I'm separately logging memory usage, for example, I can align spikes with my training process).

Wh

[2021-03-25 18:50] dberenbaum opened #66 "integrations: other ML tracking tools"
Now that dvclive is decoupled from dvc, it should be pretty trivial to log data in formats expected by other ML tracking tools like mlflow. It would be great to establish a pattern for adding integrations to any other ML tracking tools, making dvclive an agnostic lightweight wrapper for any other ML tracking tools.

This approach has a few benefits:
- Users who don't have dvc or don't want to use

[2021-03-25 18:52] dberenbaum commented on #66
This might require first making the current dvc integration more of a general abstraction.

[2021-03-25 20:37] dberenbaum commented on #64
AKA "relative time" and "wall time" (this is the terminology in both mlflow and tensorboard).

[2021-03-26 12:16] pared commented on #51
Reopening, clearly the fix did not do a trick, since we discuss in https://github.com/iterative/dvc/discussions/5614 what to do when logs dir is not initialized. cc @dberenbaum

[2021-03-29 13:31] dberenbaum commented on #64
Probably better to put this in a different issue.

[2021-03-29 13:33] dberenbaum opened #68 "Iterable wrapper for dvclive"
See #64. Add something like:

[code]

[2021-03-30 15:11] pared commented on #64
I guess I might have rushed a little bit with implementing that feature.

As @pmrowla mentioned, displaying progress bar might no be what one should expect from external library taking care of metrics logging. That does not make sense with tf integration (TF has its own progress bar), it might make sense in case of `xgboost` integration. But that does not mean whole lib should take care of that.

[2021-03-30 18:09] dberenbaum commented on #64
I'm not sure I'm following. Printing metrics in realtime to stdout and/or a file (or both) is what I would expect.

Providing an option to print relevant info to stdout seems useful in most cases as long as it can be silenced in scenarios where it's undesirable. The fact that this functionality exists in several ML frameworks already likely influenced this feature request and shows that it's gener

[2021-03-31 03:19] pmrowla commented on #64
I think the assumption would be that users would configure it to update/display the metrics in the trailer part of a tqdm progress bar (after the visual "bar" itself)

so in the same way that TF does it
[code]

[2021-03-31 10:01] daavoo opened #70 "Questions about integrations and scope of `dvclive`"
Hi there!

First of all, thank you for your open source efforts.

I have been using `dvc` for a while and, as we are migrating our workflows to the new version `2.X`, we are considering to integrate `dvclive` and willing to contribute. After reading the [documentation](https://dvc.org/doc/dvclive) along with #5 and #66 I am a little confused about the scope of the project and how to proceed with t

[2021-03-31 18:22] dberenbaum commented on #64
If tensorflow does this for users, why should dvclive ask users to implement it themselves? What utility is dvclive providing at that point? It seems like this defeats the purpose of dvclive, which is largely to provide framework-agnostic metrics logging (whether that be in the terminal, a text file, a plot, etc.).

[2021-03-31 18:51] dmpetrov commented on #70
Hi @daavoo, that's a great question!

You are right - `dvclive` is an alternative to MlFlow tracking and you can take a look at MlFlow integration as an example. If there is a lack of some functionality on dvclive side - new features can be implemented here.

Regarding MMCV - I have not used it, unfortunately, (is it like PyTorch, Keras libs?). Based on my understanding the implementation might be

[2021-03-31 19:40] dmpetrov commented on #70
I'm updating readme docs. I hope it will help with the product positioning.

PR: https://github.com/iterative/dvclive/pull/71= Feedback is welcome!

[2021-04-01 01:16] pmrowla commented on #64
@dberenbaum Isn't tensorflow a framework for the entire training process, and not just a logging mechanism? TF can display a progress bar because TF runs the actual loop.

[code]

My understanding is that for TF, a `model.fit()` call is essentially this loop. They can display progress for `model.fit()` because TF creates the loop, and can see every time there is a new loop iteration. dvclive is ju

[2021-04-01 12:20] daavoo commented on #70
Thanks for the clarification @dmpetrov!

mmcv It's more like an opinionated higher level framework (it *uses* PyTorch) focused on Computer Vision, and it's the core behind other task-specific libraries like [mmdetection](https://github.com/open-mmlab/mmdetection) or [mmsegmentation](https://github.com/open-mmlab/mmsegmentation).

I think that whether the `Logger` implementation should live inside

[2021-04-01 12:22] daavoo commented on #70
Nice! I feel like the new description is much more enlightening

[2021-04-01 12:22] #70 closed

[2021-04-01 12:25] daavoo commented on #5
I am considering to work on the integration with `pytorch-lightning` but I'm not sure about where to contribute the new logger (i.e. this repository or `pytorch-lightning` itself). See https://github.com/iterative/dvclive/issues/70#issuecomment-811868255

[2021-04-01 13:26] dberenbaum commented on #64
Let's start there. I think of it as having stdout be one of several output options. To me, it's a really useful one since I can see the progress from the terminal where I executed the model training script instead of having to open something else.

[2021-04-01 15:22] #51 closed

[2021-04-04 15:21] discdiver commented on #64
Just came across the [rich Python package](https://github.com/willmcgugan/rich), which has some very nice progress bars for terminals.

[2021-04-05 14:36] dberenbaum commented on #64
Thanks, @discdiver! Rich is actually used in [dvc exp show](https://dvc.org/doc/command-reference/exp/show), so utilizing it in dvclive also would make sense.

[2021-05-15 18:18] Benjamin-Etheredge opened #75 "Feature Request: Support different formats of summaries"
Summaries are currently printed out as a single JSON line. It would be handy to be able to change this format to a more readable format (such as YAML or multiline JSON).
These summaries are more likely to be checked into git. As such, having them in a more human-readable format would be beneficial.

[2021-05-15 18:22] Benjamin-Etheredge opened #76 "logging: configure logs directory"
The ability to control the logging directory in `dvc.yaml` files is excellent. However, it does not appear to support subdirectories. Logs must be in the current running directory. It would be helpful to be able to specify a directory to place generated logs into as a configuration option under the `live` tag in `dvc.yaml`

[2021-05-15 18:35] Benjamin-Etheredge opened #77 "More granular control on caching of logs with dvclive"
The `cache` flag under `live` in `dvc.yaml` seems to be an all-or-nothing type flag (i.e., all log files, summaries, and HTML must be cached or none of them). The logging directories, which contain each iteration of data, are less likely to be checked into git than the summaries are. This is due to the large number of differences that will always be present in the logged iteration data. Summaries

[2021-05-15 18:36] Benjamin-Etheredge commented on #76
I'm not sure if this request should go under dvclive or DVC. Let me know if it should be moved to DVC.

[2021-05-17 09:50] pared commented on #75
While the issue itself seems easy to implement, it unravels new problem that we had to address at some point: dvclive configuration.

[2021-05-17 10:02] pared commented on #77
HTML files are not tracked at all (but can be added under git control). DVC cache can track only the `live` directory itself but not the summary JSON. The JSON itself should not be put into `.gitignore` and one should be able to put it under git control. The design is flawed, and has been chosen this way in order to not impose huge changes on dvc side just for `dvclive` support. I guess we need to

[2021-05-17 10:04] pared commented on #76
related: #77 , #75

[2021-05-17 12:59] dberenbaum commented on #77
@Benjamin-Etheredge What do you want to cache with DVC and what do you want to track with Git? It reads to me like you want to cache the logging directory with DVC and track the other live outputs with Git, which I believe is the default behavior.

[2021-05-17 13:34] dberenbaum commented on #75
Can we start with the easy implementation 😆 ?

[2021-05-17 14:21] pared commented on #75
@dberenbaum yes we can, we can probably pass it silently by replacing `summary` flag with string arg `summary_path` that will also tell dvc what format we want the summary in. Though in that case there would be some reworking needed also on DVC side.

[2021-05-17 15:32] dberenbaum commented on #75
I was thinking even smaller, like can we just dump the json with an indent value so that it gets pretty printed?

[2021-05-18 10:14] pared commented on #75
Ahh, ok, I guess my imagination went too far. Give me a sec...

[2021-05-18 10:22] pared commented on #75
@Benjamin-Etheredge would properly formatted json be good enough for start? Created PR for that.

[2021-05-18 11:59] pared commented on #60
@jorgeorpinel I created PR that basically gives priority to DVC config over "in code" config: if we detect DVC env variables, and they are different that current config set up with `init` we provide new logger.

[2021-05-18 12:54] dberenbaum commented on #60
Is this the desired behavior, or is it better to throw an error? It seems like it could be confusing for users to have values that don't match. Is there a use case where someone would want to have different values in each and have `dvc.yaml` override `dvclive.init()`?

[2021-05-18 15:11] pared commented on #60
@dberenbaum I think, besides the use case where one forgets to remove `init` from code it does not make too much sense.
And thanks to #67 We have covered the situation where one could not run the code without dvc. This PR makes the behavior consistient with the one implemented in #67, but besides that, there is not much that it would provide.

[2021-05-18 17:56] dberenbaum commented on #60
Okay, it seems reasonable to me to throw an error if the paths conflict, but I'm fine with an override if you and @jorgeorpinel think it makes more sense, as long as it's documented.

[2021-05-19 04:33] jorgeorpinel commented on #60
OK, thanks! Will check it out.

I'm a bit confused as to how env vars relate to this. From what I remember the ways to set this up were a) via `dvclive` code (`init()`) or via `dvc stage add --live`. Will check the PR... ⌛

[2021-05-19 04:35] jorgeorpinel commented on #60
@dberenbaum can you clarify what values wouldn't match what? Sorry, this one is confusing (especially now after some time has past).

Same here — have different values in each what? Just making sure I get understand you questions.

Thanks

[2021-05-19 04:36] jorgeorpinel commented on #60
p.s. comment about warning vs question, in case it helps: https://github.com/iterative/dvclive/issues/60#issuecomment-794915809

[2021-05-19 05:11] jorgeorpinel commented on #60
OK so I checked https://github.com/iterative/dvclive/pull/74#pullrequestreview-662763978 and I'm still not sure how it addresses this issue. Putting env vars aside, `dvc.init()` still requires `path`, and when using DVC you still have to match it with the `live` field of dvc.yaml, right? (or is it going away per #5614?)

Maybe we should move this to the DVC repo and discuss https://github.com/iter

[2021-05-19 05:12] jorgeorpinel commented on #60
BTW is there a separate issue to track this or has it been done in some PR? Thanks

[2021-05-19 05:18] jorgeorpinel opened #79 "logger: env var configuration"
Apparently DVCLive can be configured via env vars 🙂

https://github.com/iterative/dvclive/blob/657fbfada181a8f0485779f376afb21f80986797/dvclive/metrics.py#L51-L68

I don't see this info neither in the [README](https://github.com/iterative/dvclive/blob/master/README.rst) nor in any page of https://dvc.org/doc/dvclive. Should we add it?

[2021-05-20 07:43] pared commented on #79
@jorgeorpinel env variables is means of passing configuration from `dvc` to `dvclive`. The main point of that is to be able to control pass `--live` and friends options. So I wouldn't document it, to not encourage anyone to use it.

[2021-05-21 04:40] jorgeorpinel commented on #79
OK I was unaware of this mechanism. It's an implementation detail then (no docs required)... Unless there's a use case for setting this manually? Not in the context of `dvc`. Cc @dberenbaum WDYT?

[2021-05-21 04:52] jorgeorpinel commented on #60
Ah, so DVC literally sets those env vars (based on the `live` field in dvc.yaml) during exp runs. I see...

what I am trying to push in this change is overcomplicated and confusing

Hmm no I was just unaware of the mechanism in which DVC and Dvclive communicate. It makes sense now. `stage add --live <path>` i.e. the `live` field in dvc.yaml (which is communicated via env vars) would now override `

[2021-05-21 04:55] jorgeorpinel commented on #79
Another Q though. Was there a reason to pick env vars over some other "more internal" mechanism? E.g. similar to dvc checkpoints that use a signal file somewhere in .dvc/tmp

[2021-05-21 04:59] jorgeorpinel commented on #60
Having some sort of messaging so we make sure the user is aware of the discrepancy would be good for US I think. But it could just also be a warning that the init() value is being overridden by DVC. Up to you/@dberenbaum on this. Would you be reusing #74 @pared ?

[2021-05-21 04:59] jorgeorpinel commented on #60
UX

[2021-05-21 20:37] dberenbaum commented on #79
If it's only intended for internal usage, I don't think it needs to be documented.

[2021-05-21 20:39] dberenbaum commented on #60
I don't feel strongly one way or the other TBH. @pared Do you have a preference?

[2021-05-24 17:59] pared commented on #60
To be honest, after writing the change #74  and discussing potential scope of support (docs, warnings) required to make it work, it seems to me we should scrap this change.

1. It supports use case that is wrong from the project point of view (disrepancy between code and dvclive)
2. Is hard to comprehend, and has a potential to bring us some support tickets regarding the logic behind `init`

I am

[2021-05-25 20:31] jorgeorpinel commented on #60
So what would be the correct workflow now? Don't configure it and let is use the default dir? (https://github.com/iterative/dvclive/pull/67)

[2021-05-25 20:39] jorgeorpinel commented on #60
I'm guessing that even without `init()` in the code, we may still have a problem if the path sent to `stage add --live` doesn't match the default one. If so, at least we should consider my idea of not requiring an arg for `stage add --live`. I can close this issue and open one in the core DVC repo if you agree.

[2021-05-26 08:52] pared commented on #60
1. No `dvclive.init` and `--live` provided - use `--live` arg
2. `dvclive.init` and `--live` provided - if they don't match - throw

It seems I would have to modify #74 to handle 2nd use case.

Sorry, you are right, and I think this is a good idea. Just so that we are on same page:
`dvc run -n ... -d ... -o ... python code.py --live would mean that we produce `dvclive` dir?

[2021-05-26 21:00] dberenbaum commented on #60
To confirm, does this throw an error now? If so, I think that's fine.

+1 to this idea.

[2021-05-27 09:52] pared commented on #60
@dberenbaum currently it will throw error, but due to fact that arg provided in `--live` does not exist, need to make it more informative.

[2021-05-28 12:52] aguschin opened #81 "logger: track system metrics automatically"
Right now dvclive doesn't track system metrics, to name a few, CPU, GPU, RAM utilisation. This is useful when comparing experiment results (e.g., I can get +1% accuracy, but what is the price in terms of time/resources?) and analysing how long it takes to run training on different GPUs (e.g., I can rent another GPU model and get 2x speedup?).

The usual practice is to log this somehow manually wit

[2021-05-29 18:18] jorgeorpinel commented on #60
If it throws an informative error, then that's good enough.

If you'd like to make the `--live` arg optional on top of that, go for it! Up to you @pared

(And yes, I'd expect no `--live` arg = default `dvclive/` report dir.)

[2021-05-31 15:28] aguschin opened #82 "`dvclive.log`: log array, tensors and similar objects"
AFAIK, some experiment management libraries (e.g., w&b) can log not only simple python objects, but also more complex, few of them being numpy arrays, torch tensors, tensorflow tensors, etc. It seems like a general functionality which can help a lot of users and make the logging process more convenient for them.

Also, surprisingly to me, w&b client library doesn't have numpy/torch/tensorflow depe

[2021-06-01 12:47] pared commented on #75
Fixed in #78. We can revisit it if we need yaml support, though purely aesthetics reasoning is not enough to justify amount of changes needed to support different summary formats. (It would require configuration, which is currently not necessary for `dvclive`)

[2021-06-01 12:47] #75 closed

[2021-06-02 12:59] dberenbaum commented on #82
Logging more data types sounds good. I found this link for wandb:

https://docs.wandb.ai/guides/track/log

Is this what you were thinking? Did you have a specific scenario in mind, and how would you like that data logged?

---

They seem to leave it to the user to have the correct dependencies installed, which is similar to the mlflow approach (see https://github.com/iterative/dvclive/issues/25#is

[2021-06-02 18:21] daavoo commented on #5
I added an integration with [mmcv](https://github.com/open-mmlab/mmcv):

https://github.com/open-mmlab/mmcv/pull/1075

[2021-06-03 09:19] pared commented on #5
@daavoo Thats a great news! Can we do something to help with that pull request?

[2021-06-04 08:33] daavoo commented on #5
It has been already approved so I think it will be merged soon, thanks!

[2021-06-04 14:17] aguschin commented on #82
Yes, exactly! The page you found has a great summary. There are a lot of thing W&B can log, I guess few of them fits good in the current functionality, like logging arrays and tensors of length 1. But tracking other types of data would require major extension of the current functionality, I guess. Did we have the similar discussion before somewhere?

The specific scenario I first came up with is t

[2021-06-04 22:04] shcheklein commented on #82
Can W&B or MLFlow do this now? Can they plot multiple ROCs on a single plot?

that's correct. But it feels that the most general solution is to output stuff as images.

Otherwise we would have to "teach" DVC or UI or whatever to distinguish different arrays (conf matrix from ROC) and plot them differently. That's what we do with Vega now. Question - would you expect some wizard in Studio/VS Code t

[2021-06-07 09:52] aguschin commented on #82
@shcheklein

Yes, https://wandb.ai/wandb/plots/reports/Plot-ROC-Curves--VmlldzoyNjk3MDE
Also CTRL+F "Roc" on this page: https://docs.wandb.ai/guides/track/log

It think as a user I would prefer to specify what I store while storing this because then it should be done only once. If we are talking about dvclive, then the closes comparison seems to be like w&b does this:
[code]
Then it would be easy

[2021-06-07 13:34] pared commented on #81
Well, currently summary is just a gathering of lastly logged metrics. It seems that those system metrics would provide a lot of information that some users might find useful.
Some questions that needs answering before proceeding implementation:
1. How psutil gathers the data? If its from current point of time, we might get untrustworthy results (since logging usually happens in the end of epoch.
2

[2021-06-07 17:27] dberenbaum commented on #81
This is in the docs:

[2021-06-07 19:28] shcheklein commented on #82
yep, right now it can be done with `dvc plots` and a predefined vega template and you kinda do it once.

if we decide to add something as highlevel and specific to the plot type to `dvclive as wandb has, where would we store this in the repo? how will we connect it with the existing `dvc plots show`, etc?

interesting!

[2021-06-09 15:48] pared commented on #81
We could probably achieve that by creating `dvclive` context that would start "system observer" thread.

[2021-06-10 09:56] aguschin commented on #4
@pared, in case this will be useful: while trying out dvclive I found out that `dvc metrics diff` doesn't show anything I logged with dvclive, until I add that directly to dvc.yaml:
[code]
I was expecting to see a final dvclive json with metrics in `dvc metrics diff` along with other metrics stored by dvc without adding this. If we won't be adding this functionality, it may be worth mentioning in

[2021-06-10 10:49] daavoo opened #83 "integrations: HuggingFace transformers"
It would be nice to have a `dvclive` integration with the popular repository [transformers](https://github.com/huggingface/transformers/) from huggingface.

Existing integrations are maintained in the repository implemented as callbacks:

https://github.com/huggingface/transformers/blob/master/src/transformers/integrations.py
https://huggingface.co/transformers/main_classes/callback.html#available

[2021-06-10 10:52] daavoo commented on #5
I think it might be a good idea to have separated issues for each integration in order to better track the progress and have specific discussions for each one.

I.e: https://github.com/iterative/dvclive/issues/83

[2021-06-10 11:07] daavoo opened #87 "Don't start Usage with Keras exampe"
The current `dvclive` [Usage Guide](https://dvc.org/doc/dvclive/usage) directly jumps into the `keras` integration omitting the possibility of it's most basic usage (as a python library). Likewise the `Dvclive with DVC` is also "tied" to this `keras` example.

I think that it might be better to start the Usage Guide with a standalone approach (something similar to [this existing section of the REA

[2021-06-10 11:22] daavoo commented on #45
What is the state of this issue after https://github.com/iterative/dvclive/pull/71 ? Is this blocked by https://github.com/iterative/dvc.org/issues/2443 ?

[2021-06-10 11:29] daavoo opened #85 "integrations: pytorch lightning"
It would be nice to have a `dvclive` integration with the popular training framework [PyTorch Lightning](https://www.pytorchlightning.ai/)

Existing integrations are maintained in the repository implemented as callbacks:

https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pytorch_lightning/loggers
https://pytorch-lightning.readthedocs.io/en/1.2.9_a/common/loggers.html

We would main

[2021-06-10 11:38] daavoo opened #86 "Update docs"
The existing ["front page"]( https://dvc.org/doc/dvclive) of `dvclive` seems to be missing some important points that are mentioned in the [README of the repository ](https://github.com/iterative/dvclive#dvclive).  At the very least, we could opt for syncing both sources of information by updating the existing `dvc.org` introduction with the information present in the `README`.

---

UPDATE: Jump

[2021-06-10 11:51] pared commented on #5
@daavoo  That is right, in the beggining we intended it to be an umbrella issue, since singular implementations seemed like easy tasks. As `sklerarn` example shows, we should probably track each integration separately.

For future reference:
Changing the name of the issue for `sklearn`. Other integrations issues should be created as separate issues.

[2021-06-10 12:01] pared commented on #45
I think that #71 covers pretty much all relevant changes required for this to be closed, but we could leave this open and polish it according to iterative/dvc.org#2443. So far README is lacking:
- installation methods
- links to related technologies
- link to Contributing (though call for collaboration is probably enough for now)
- licen[c/s]e & citation

[2021-06-10 12:06] pared commented on #53
We tried to reproduce this, so far with no result. Keeping open, maybe someone will stumble upon that and we will be able to reproduce.

[2021-06-12 00:04] daavoo opened #88 "`dvclive`: Mentioned but unlinked in `Checkpoints` guide."
[This section](https://dvc.org/doc/user-guide/experiment-management/checkpoints#registering-checkpoints-in-your-code) of the `Checkpoints` guide mentions `dvclive` but it does ǹot point the reader to the [existing `dvclive` docs ](https://dvc.org/doc/dvclive).

In that section there is also a small introduction to `dvclive`'s API which could be replaced with a link if the basic API reference is ad

[2021-06-12 00:11] jorgeorpinel commented on #86
That is definitely related with https://github.com/iterative/dvc.org/issues/2443, in the sense that we need to figure out how mush overlap we want between the README here and the docs in https://dvc.org/doc/dvclive

This we don't want to do. @daavoo based on that other issue, would it be possible to get a summary of the changes you think would be needed on each side? We'll figure it out later if n

[2021-06-12 00:14] jorgeorpinel commented on #86
TBH this looks like a duplicate of https://github.com/iterative/dvclive/issues/45#issuecomment-858560836

[2021-06-14 12:05] daavoo opened #89 "summary: Add option to store **best** value?"
By default the values for each metric at the latest step are being saved in the `summary`. It might be interesting to add an option to additionally save the **best** value for each metric.

An example use case would be a usual deep learning training loop where the model is being validated at the end of each epoch and the last epoch is not necessarily the one with the best performance. Having the b

[2021-06-14 14:19] pared commented on #89
As to problems:
Related: #81 - both in this issue and here we need to come up with a way to store the data in a structured way. Maybe summary json needs to be separated into  "latest", "system" and "best" sections.

As to saving the best, I think we should let users provide callable taking list as argument/comparing two values, that by default would be choosing max(list) or max(x1, x2). That way u

[2021-06-15 09:03] daavoo commented on #82
I think that the support for this kind of comparison should be first addressed in the "core" `dvc`  (there is an open discussion about it https://github.com/iterative/dvc/discussions/5681) and later on, depending on the outcome, extend `dvclive` for "logging" images.

[2021-06-15 10:12] daavoo opened #90 "logger: Add notifier to `next_step`?"
Depending on the type of model to be trained, the time in between calls to `next_step`  may vary significantly. In common deep learning scenarios, i.e. the [keras callback](https://github.com/iterative/dvclive/blob/master/dvclive/keras.py), `next_step`  is being called at the end of an epoch which could result in long times (maybe hours) in between calls.

It could be useful to have built-in suppo

[2021-06-15 10:26] daavoo commented on #89
I think that a structured summary would be a great idea and it would make the summary easier to extend for future ideas/feature requests.

I'm not sure if a custom callable would be needed. I searched for similar scenarios (i.e. the [tensorflow/keras ModelCheckpoint](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint#args)) and they just provide the options `min`, `max`

[2021-06-15 10:43] pared commented on #89
Yeah, but before implementing that we need to consider how do we want to handle it on DVC side - if we include those in summary json, those values will be treated as metrics from dvc point of view. While it might make sense for  "best" and "latest" I don't think its viable use case for "system" metrics. On the other hand I can totally imagine situation where someone wants to visualize memory usage

[2021-06-15 11:20] daavoo commented on #89
I see your point. I think that we could make a distinction between:

- live metrics

Generated in `dvclive.log`
Stored in `dvclive/metric.tsv`.
Intended to be used along with `dvc plots` (i.e to monitor the train loop by refreshing the `.html`)

- dvc metrics

Generated in `dvclive.next_step`
Stored in `dvclive.json`
Values depending on their corresponding `.tsv` files using some sort of "aggregat

[2021-06-15 11:30] daavoo opened #91 "integrations: CML"
From a high level user perspective, I think it would be interesting to have some kind of integration between `dvclive` and `CML`.

Just like there is already a custom `dvclive` behavior when used along with `DVC` (i.e. generating `checkpoints`) maybe a similar approach could be used when `dvclive` is also used along with `CML`.

I was thinking on a use case like `dvclive` taking care of using `cml

[2021-06-15 12:52] dberenbaum commented on #82
The initial example of logging arrays is pretty much already supported in dvc though as plots if I'm understanding correctly, so that is one type for which support could probably be added now in dvclive.

[2021-06-15 14:39] dmpetrov commented on #89
@daavoo Having max/min is a good idea!

Do we need extra metrics / files? Can it be done as DVC cmd. Like `dvc metrics show --max metrics.json` or `--show-json` if you need a json file.

For system metrics - yes, a separate metrics / file is needed.

[2021-06-15 14:44] dmpetrov commented on #90
@daavoo I'm trying to understand the motivation behind this? 😄
could you please elaborate on this? o you want to update the files more often? What `notify()` means?

[2021-06-15 15:25] daavoo commented on #90
Sorry about the lack of clarity.

The motivation comes from working with deep learning models that take a lot of time to train (i.e. hours or days). When working under that circumstances we always ended up writing some sort of "notification" code to complement or integrate into the ml logger.

This notification code takes care of sending a message to some platform (i.e. e-mail, slack / discord / t

[2021-06-15 15:28] dberenbaum commented on #91
This seems like a general need for integration between cml and dvc checkpoints. Do you see any functionality as being specific to dvclive?

[2021-06-15 17:01] pared commented on #79
Closing for now, as its implementation detail. If we will get requests to document that, we can reopen.

[2021-06-15 17:01] #79 closed

[2021-06-15 17:12] pared commented on #6
Newer version of tensorflow are handled automatically.
https://www.tensorflow.org/install/gpu

[2021-06-15 17:12] #6 closed

[2021-06-15 17:18] pared commented on #61
related to https://github.com/iterative/dvc/discussions/5980

[2021-06-15 17:25] pared commented on #85
Sample logger implementation can be found under [one of pytorch discussions](https://github.com/PyTorchLightning/pytorch-lightning/issues/1882)

[2021-06-15 18:03] pared opened #92 "logger: refactor initialization error message"
After #67 we initialize logger in default dir `dvclive`.
In `next_step`, we rise `InitializationError`, which message suggests that `init` has not been called.
This situation actually happens only if we

1. Neve call `dvclive.init`
AND
2. Never call `dvclive.log`

So the error message is misleading. It should be refactored in a way that tells user he never called `init` nor `log`

[2021-06-15 18:07] pared opened #93 "errors: get rid of DvcLiveError calls."
`DvcLiveError` is an error that should be an abstract exception that lets end user know where it did originated.
We should replace current occurences of `raise DvcLiveError` with particular errors with naming related to the cause.

[2021-06-15 18:07] blacku13 commented on #92
I would like to work on this

[2021-06-15 18:08] pared commented on #92
@blacku13 I assigned you.

[2021-06-16 14:45] aguschin opened #95 "Feature request: allow nested metric values via slash in metric name"
There are situations when we may want to group metric values, for example, in "train", "val", "test":
1. We may need this to select what columns we want to show in Studio (e.g., turn on / turn of metrics for "val" completely).
2. Later we also can group plots in Studio/Vscode extension, like it is done in W&B, for example.

If “name” in dvclive.log(name, value) happens to be like “one/two” should

[2021-06-16 15:01] aguschin commented on #95
Е

[2021-06-17 09:35] daavoo commented on #95
I was about to report this as a bug :sweat_smile:

I found the exception unexpected as it breaks the [mmcv integration](https://github.com/open-mmlab/mmcv/blob/master/mmcv/runner/hooks/logger/dvclive.py) because some of the downstream repositories use `train/` and `val/` prefixes (i.e. [mmdetection](https://github.com/open-mmlab/mmdetection))

[2021-06-17 10:18] daavoo commented on #87
I will start with that !

I think that even if it the integrations feel like a separate subject, the documentation should revolve around it.

Reviewing other `dvclive` alternatives, it seems that they quite focused on showcasing how easy the integrations with other frameworks are. For example, integrations is the first thing mentioned in the "front page" of wandb (https://wandb.ai/site) . It is al

[2021-06-17 10:22] daavoo commented on #86
I see, I would need to review iterative/dvc.org#2443 in order to propose that summary of changes.

---

That issue seems to be focused on the changes needed in the "README" but not the ones needed in the "docs". Not sure if we should keep a separate issue for each "target" or not

[2021-06-17 12:24] pared commented on #76
@Benjamin-Etheredge I have tried reproducing the problem with following script:
[code]

and dvclive succesfully creates `sub/another_sub/logs`  which seemed to be original problem here.
I checked the script for current master, `0.0.1`, `0.0.2` and `0.0.3` - all pass. Did I misunderstood the issue?

[2021-06-19 23:21] jorgeorpinel commented on #87
Hmmm maybe I'm confused about the term "integration" here. The only other software that DVCLive integrates with is DVC.  Having usage examples with major frameworks does seem important but again, let's make a separate issue for that? It shouldn't prevent us from keeping Keras in this main usage page (advanced section).

Right so I think we've already agreed to simplify the usage example at first.

[2021-06-21 18:12] daavoo opened #100 "logger: extend with `log_param`"
# Motivation

Other popular *ML Loggers* have methods for logging and tracking *hyperparameters*:

- [Wandb](https://docs.wandb.ai/guides/track/config)
- [MLFlow](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_param)
- [CometML](https://www.comet.ml/docs/python-sdk/Experiment/#experimentlog_parameter)
- [Neptune](https://docs.neptune.ai/you-should-know/what-can-you-log-and-displa

[2021-06-21 18:43] dberenbaum commented on #100
Hyperparameters can be tracked in `params.yaml` or another file. In the general DVC workflow, hyperparameters are read from a file into the model training code rather than being written from the model training code to a file. This seems like good practice that encourages separation between parameters/configuration and code, and allows for the hyperparameters to be tracked as a dependency of the co

[2021-06-22 08:26] daavoo commented on #100
I see your points and totally agree with encouraging the separation between `params` and code. However I see a few "counterpoints":

As far as I know, `dvclive` is intended to be seamlessly integrated with `DVC` but without being a strict requirement itself. Given that, I feel that a `log_param` method could have value on it's own for using `dvclive` in "standalone" mode.

I think that current use

[2021-06-22 10:29] #45 closed

[2021-06-22 17:59] dberenbaum commented on #100
Okay, so it's about extracting metadata from the model object, right? If the model is saved, this is usually going to be available I think, but extracting that metadata to a human-readable file makes sense.

We might need to think through whether this is the best way to capture that info so that it integrates well with dvc. It seems pretty different from `params.yaml` since `params.yaml` is an inp

[2021-06-22 18:38] jorgeorpinel commented on #86
Yup, now that https://github.com/iterative/dvclive/pull/99is done (thanks @daavoo) I guess we can keep this one to update the docs index. We'll need to come up with the plan first (based on https://github.com/iterative/dvc.org/issues/2443) 🙂

[2021-06-22 20:40] dmpetrov commented on #100
Reporting model object meta data is a good motivation for `log_param()`! Otherwise, `params.yaml` seems like a better practice. In most of the projects, people still use params files but have to do a double work report `log_param()` just because the logger framework pushes them to it.

What are the examples of model object metadata that will need params files, not metrics?

[2021-06-23 08:28] #92 closed

[2021-06-24 13:11] dberenbaum commented on #100
I'd be interested to hear what @daavoo thinks. In the past, I have logged whatever I can about the model object, which mostly included implicit parameters like default values that I didn't specify. These mostly weren't that useful in my case since they didn't change between experiments, but it was still occasionally nice to be able to know what those parameter values were without having to load th

[2021-06-25 13:52] dberenbaum commented on #66
Also related are the slides from yesterday's meetup: https://docs.google.com/presentation/d/1TfChy39Xb6vKVvuMaWihZjbYO97CRnESqd6-xdmbQV4/edit#slide=id.p. The whole presentation should be up soon in https://discord.gg/STQyxbU6.

There was an example of using dvc experiments and then having a stage at the end to log all the results to wandb to visualize. We could build off that idea or document use

[2021-06-29 07:17] zhouzaida opened #101 "FileNotFoundError: [Errno 2] No such file or directory: '/home/xxx/codebases/dvclive/train/loss.tsv'"
If the name contains `/`  like 'train/loss', `self.log` will raise FileNotFoundError

https://github.com/iterative/dvclive/blob/8b260ae19a834b693ca8853b6d12140ec695effc/dvclive/metrics.py#L108-L130

https://github.com/iterative/dvclive/blob/8b260ae19a834b693ca8853b6d12140ec695effc/dvclive/serialize.py#L7-L15

[2021-06-29 07:27] zhouzaida commented on #101
Should I convert the 'train/loss' to 'train-loss' in my codebase or it can be handled this in dvclive

[2021-06-29 07:31] daavoo commented on #101
It should be fixed once #97 gets merged

[2021-06-29 07:32] zhouzaida commented on #101
thanks

[2021-06-29 09:09] zhouzaida opened #102 "my codebase is deleted when I set the path as my codebase directory"
When I set the path as my codebase directory, a terrible thing happened. My codebase was deleted.

https://github.com/iterative/dvclive/blob/8b260ae19a834b693ca8853b6d12140ec695effc/dvclive/metrics.py#L43

[2021-06-29 10:21] #52 closed

[2021-06-29 10:28] #95 closed

[2021-06-29 10:28] #101 closed

[2021-06-29 10:36] pared commented on #102
@zhouzaida sorry to hear that, did you managed to recover your project?

How did you called `init`?
`dvclive.init(".")`?

This is a tricky one. On one hand, we allow such situation to happen. On the other, if we will start throwing errors/prompting on existing directory, the library will become unusable.

Maybe we should check if user does not call `init` for `cwd`? That would prevent such situati

[2021-06-29 10:40] zhouzaida commented on #102
dvclive.init(path='my-codebase-directory

The deleted codebase is just a dummy codebase

[2021-06-29 10:59] pared commented on #102
@zhouzaida
So the path that we are specifiying will be a directory where `dvclive` will be writing the files with the metrics. It is supposed to be previously unsued directory eg (`dvclive.init("{your_project_path}/project-metrics")`). The removal of target dir is happening because user might want to rerun the code. In that case we need to make sure we do not have previous trainings results there.

[2021-06-30 09:33] daavoo commented on #102
Given that `The removal of target dir is happening because user might want to rerun the code` maybe the call to `shutil.rmtree` could be conditioned on whether `self.dir` is a `dvclive` directory or not.

For example, we could check if `self.dir` only contains `.tsv` files before running `shutil.rmtree` and raise an Exception in case the provided `path` contains other files

[2021-06-30 20:59] dberenbaum commented on #102
Why does the entire directory need to be deleted instead of just the individual files that are being written?

Also, what if I want to resume an existing experiment?

[2021-07-01 01:52] zhouzaida commented on #102
https://github.com/iterative/dvclive/blob/8b260ae19a834b693ca8853b6d12140ec695effc/dvclive/metrics.py#L35

resuming an existing experiment is supported.

[2021-07-01 07:05] daavoo commented on #102
Good question, the logic of deleting `just the individual files that are being written` could be moved to `dvclive.log` instead.

However, maybe (I don't really know) one reason for removing the entire directory would be that if the metrics being logged change from one experiment to other, it can be misleading to have existing metric files (`.tsv`) unrelated with the current experiment?

[2021-07-01 13:43] pared commented on #102
My thinking was that when we are running given training script we want to have consistient and reproducible results, so it would make sens to have single output directory for given "training". That makes sure that given results belong to particular run. Having said so it might be some dvc concepts leaking into `dvclive`. @dberenbaum do you think we should allow mixing the results with other files

[2021-07-01 16:26] dberenbaum opened #103 "Decouple epoch metrics logging and checkpoints"
Users may want to save metrics every epoch but only save models every few epochs. Can we support this in dvclive?

[2021-07-01 16:32] dberenbaum opened #104 "Decouple epoch-level metrics logging and checkpoint-level model saving"
Users may want to log metrics every epoch but only save models every few epochs.

[2021-07-02 13:18] dberenbaum commented on #102
I think it makes sense the way it is for now. Someone might want to put all of their tsv outputs into one directory, which could be a mix of dvclive files and others, but we can revisit if that hypothetical becomes more of a real concern.

[2021-07-02 15:10] dberenbaum opened #105 "Add a way to save models"
Integrations should include an option to save model to file. See #69.

---

Edited with tasklist:

- [x]  Keras #69
- [x] #109
- [x] #110

[2021-07-05 13:14] pared commented on #103
Yes, we could add option for turning off automatic checkpoint creation and add manual method for `MetricLogger` class.

[2021-07-05 13:15] pared commented on #104
Isn't it duplicate of #103?

[2021-07-05 13:18] pared commented on #105
If we decide we want to control it on integration-level #69 can be merged as is.

[2021-07-05 17:19] dberenbaum commented on #104
Sorry, internet connection trouble!

[2021-07-05 17:19] #104 closed

[2021-07-05 17:24] dberenbaum commented on #105
Do you think it's important to be consistent across integrations so that we don't have to document what each one does individually? Also, might it be important to have a generic method in case we have some change we want to make across integrations (for example, add some logic to track the output if inside a dvc project)?

[2021-07-08 20:55] dberenbaum commented on #105
Looking back at #69, I don't think it needs to be in `dvclive.init()`, and I think it could be merged as is, although we should also add similar functionality for xgboost.

I was thinking we might need something like `dvclive.save_model(save_func, model_file)` if we have some generic logic we need to apply, but we can add that later if needed.

[2021-07-12 07:34] daavoo commented on #87
And advanced section would still make sense, I guess, but I'm not sure what should it cover.

I see two types of use cases for `dvclive`; either you manually integrate the `dvclive` Python API in your custom training code ("Basic Usage") or you use `dvclive` along with one existing *ML Framework* ("Integrations").

Maybe the advanced section could dive into how to build new "Integrations"? Or "div

[2021-07-12 07:34] #87 closed

[2021-07-12 08:07] daavoo commented on #86
So here is a granular proposal of changes for `dvc.org`, based on the guidelines you linked:

---

- [ ] Link [docs index](https://dvc.org/doc/dvclive)  to this repository.

Users can't reach this repository from the docs.

- [ ] Add info about `summary` files.

The docs index only mention the log files in `.tsv` format and it's integration with `dvc plots`. Include information about summary files

[2021-07-12 08:09] daavoo commented on #66
I will take a look to the video

[2021-07-12 10:48] pared commented on #86
LGTM! Do we want to keep all of that in one place (this issue?) I think Add command/API reference might a bigger issue than other ones. Also, in this point, do you think about removing other references once this single point is established? I am asking because those three seem to have a little bit different puprose.

[2021-07-12 10:53] pared commented on #105
If user can register own callback, that would take a lot of work out of our way.  Not sure whether that feature would be used a lot. If one needs to write saving funciton anyway, why spend even more time reading how to register it in DVCLive and how it would be handled inside, instead of manually calling that every now and then.

[2021-07-12 11:00] pared commented on #105
Looking at @daavoo's [comment](https://github.com/iterative/dvclive/pull/69#issuecomment-878124882) we can see that it would be easier for us to require user to provide saving method. But my original concern remains: will it be used at all?

[2021-07-12 14:29] dberenbaum commented on #105
`DvcLiveCallback(model_file="output_model.h5"` seems useful since it saves users from a separate call or from remembering how to save in keras or other frameworks.

I agree that `dvclive.save_model(save_func, model_file)` does not seem particularly useful. In the future, we might try to do more with dvclive, like make it add the model file as a dvc-tracked output. In that case, we might need a fea

[2021-07-12 14:36] dberenbaum commented on #86
I think having this issue is helpful, but also having separate issues and PRs for the individual checkboxes linking back to here would be great.

[2021-07-13 07:18] daavoo commented on #102
Not sure how hacky would be this option but how about updating `dvclive` to use `.dvclive.tsv` (or something like that) as suffix for the *plot metrics* files?

If we add something like that, we could update the "clean up" metrics to ensure that just the `dvclive` related files are removed (summary and html paths are already tracked and cleaned up separately: https://github.com/iterative/dvclive/p

[2021-07-13 07:23] daavoo commented on #86
Should we create those issues in `dvc.org` or here?

[2021-07-13 07:28] daavoo commented on #86
I wouldn't remove the other references but rather update tthe content with a link to the *docs API Reference*. Probably, for each of those other references, some of the parts overlapping with the *docs API reference* could be removed and update the remaining parts focusing on the specific purpose

[2021-07-13 10:23] pared commented on #102
@daavoo this sounds good, but we need to remember that it will be showing up in a `dvc plots` results. I am not sure that this particular use case is that important - using `dvclive` and mixing different outputs will definintely result in problems when one uses `dvc`. Maybe we should make it more clear in docs that `init` dir should be reserved for `dvclive` outputs only?

[2021-07-13 11:38] daavoo commented on #91
Given the discussion so far in https://github.com/iterative/dvc/issues/6182, it looks like the `exp push` integration won't require any changes from the `dvclive` side.

I probably didn't express it right but I was also taking about an additional integration, which will be something like using `cml-send-comment` in the context of a long running experiment (i.e. deep learning) as a way to periodica

[2021-07-13 11:51] daavoo opened #107 "Add tests for exception raising"
There are a few points in the code where `dvclive` raises Exceptions:

https://github.com/iterative/dvclive/search?q=raise

It would be nice to include tests for checking that the proper exception (related with #93 ) is being raised (i.e. `with pytest.raises`).

[2021-07-13 12:56] dberenbaum commented on #86
I think we decided recently to keep that here especially if you will be the main contributor (cc @jorgeorpinel in case I'm remembering incorrectly).

[2021-07-13 16:28] dberenbaum commented on #91
Yes, this could be really useful, and absolutely dvclive should address issues for long-running experiments! https://github.com/iterative/dvc/issues/6182 will at least make it possible to pull the latest checkpoint and see the associated metrics and plots, but we could make the experience smoother and better integrate cml.

Seems like this has 2 requirements:

1. Generate some default report to se

[2021-07-13 18:38] jorgeorpinel commented on #86
Yep! Better to track in the corresponding product repo even if it's currently documented in dvc.org/doc.

[2021-07-14 02:41] shcheklein commented on #91
@iterative/cml I know that you have been discussing (and even prototyping) something like this? Could you share your thoughts, outcomes?

[2021-07-14 08:04] daavoo commented on #90
I just discovered another open-source tool focused on this kind of functionality:

https://github.com/labmlai/labml

[2021-07-14 08:12] daavoo commented on #81
This open source repo has a "hardware monitoring" functionality implemented with `psutil` (and `py3nvml` for GPUs):

https://github.com/labmlai/labml/blob/master/guides/hardware_monitoring.md

https://github.com/labmlai/labml/search?q=psutil

[2021-07-14 08:30] daavoo opened #108 "Add Command/API Reference"

[2021-07-14 10:03] daavoo opened #109 "Save model in `XGBoost`"
Extend the existing `XGBoost` integration (`dvc.xgb`) to include model saving functionality. Extend `test_xgboost.py` to cover this feature.

Ref:

- Official XGBoost docs on saving models: https://xgboost.readthedocs.io/en/stable/tutorials/saving_model.html & https://mljar.com/blog/xgboost-save-load-python/
- Similar extension added to `keras` integration: https://github.com/iterative/dvclive/pul

[2021-07-14 10:03] daavoo opened #110 "Save model in `MMCV`"

[2021-07-14 11:02] daavoo commented on #110
Similar concerns to the ones described in https://github.com/iterative/dvclive/pull/69#issuecomment-879778857

`MMCV` already has a [`CheckpointHook`](https://github.com/open-mmlab/mmcv/blob/master/mmcv/runner/hooks/checkpoint.py#L9) and all "downstream" repositories are configured to use it (i.e. [mmdetection](https://github.com/open-mmlab/mmdetection/blob/master/mmdet/apis/train.py#L126)).

What

[2021-07-14 11:24] daavoo commented on #105
I reached a similar conclusion when reviewing how to add this functionality to both `keras` and `MMCV` integrations:

https://github.com/iterative/dvclive/pull/69#issuecomment-879778857
https://github.com/iterative/dvclive/issues/110#issuecomment-879798088

With the current set of `dvclive` features I don't really see why an user would choose to use the "native model saving" logic of our integrati

[2021-07-14 12:46] dberenbaum commented on #110
Oooh, that's nice. Do you know the order of hooks for keras or others?

[2021-07-14 12:53] dberenbaum commented on #105
If using dvc checkpoints, then yes, the model output is already tracked at each step, although this requires some manual stage setup that dvclive might be able to help make easier. Having dvclive take care of calling `dvc add` or otherwise ensuring that the output is tracked by dvc and not git would be nice.

[2021-07-14 13:04] daavoo commented on #110
It appears to just follow the order of the list passed to `model.fit`:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/callbacks.py#L434

[2021-07-14 14:30] pared commented on #91
@dberenbaum I think we could even start with pretty printing metrics to some env var that CML could pick up and show in the build log.

[2021-07-14 14:32] pared commented on #90
Related to #91

[2021-07-14 16:11] pared opened #111 "dvclive: configure release drafter"
We could configure release drafter so that we do not need to manually link all included issues in new releases

https://github.com/apps/release-drafter
related: iterative/dvc#4474

[2021-07-14 17:09] casperdcl commented on #91
I'd say generic callback support (#90) would be best. The user can then run `cml-send-comment --update` per-checkpoint.

Vaguely related (though this is automatic rather than manual): auto-push per checkpoint https://github.com/iterative/dvc/issues/6182)

[2021-07-15 10:29] daavoo opened #112 "integrations: Catalyst"
It would be nice to have a `dvclive` integration with [Catalyst](https://github.com/catalyst-team/catalyst):

Break the cycle – use the Catalyst!

Existing integrations are maintained in the repository implemented as callbacks:

https://github.com/catalyst-team/catalyst/tree/master/catalyst/loggers
https://catalyst-team.github.io/catalyst/core/logger.html

We would maintain the implementation in t

[2021-07-16 14:48] daavoo commented on #89
I was trying an example repo with `dvclive` using `dvc expepriments` where the pipeline some stages after the `train` stage (where `dvclive` is actually used) that depend on selecting the best checkpoint.

In this `dvc exp` workflow the issue doesn't seem so relevant if you go with the following workaround:

---
I first run the pipeline and stop after the train stage:

[code]
At this point `dvcliv

[2021-07-16 16:39] casperdcl opened #113 "checkpoints: num(ber)/epoch awareness"
Solves two problems:

- `dvc exp run && dvc exp run` shouldn't re-run everything a second time
  + Yes, the user code can check this but so what? Same argument for non-checkpointed `dvc repro && dvc repro`. DVC should non re-run.
- interrupting `dvc exp run` (e.g. due to a runner timeout) and resuming shouldn't re-start from checkpoint zero.

----

- Part of https://github.com/iterative/cml/issues

[2021-07-16 16:40] casperdcl commented on #113
not sure; `dvclive` documentation doesn't really exist but sounds like it would work

[2021-07-16 18:14] dberenbaum commented on #89
In this case, you not only want to keep an additional metric for the best value, but you might want to save the best model instead of the latest model, similar to the `restore_best_weights` option in https://keras.io/api/callbacks/early_stopping/. If dvclive could keep track of the best model and save it at each epoch, then it would be trivial to automate that dvc pipeline, and it would save space

[2021-07-16 18:54] dberenbaum commented on #113
Sorry @casperdcl, I was responding to @daavoo. I still think having `dvclive.range()` would be nice for a manual training loop.

Not for long! https://github.com/iterative/dvc.org/pull/2632

[2021-07-16 19:20] daavoo opened #114 "docs: Extend auto-linker to work with `dvclive` API"
future improvement: we should create a ticket or improve auto-linker, to keep text clean from these internal links like we do in DVC API reference

_Originally posted by @shcheklein in https://github.com/iterative/dvc.org/pull/2632#discussion_r670704982_

[2021-07-16 20:28] casperdcl commented on #113
Ah I see. Well `for step in dvclive.range(...)` would make `dvclive.step` a bit redundant.

[2021-07-16 21:04] dberenbaum commented on #113
To be more explicit, `dvclive.step` is for use with frameworks where the code looks like `model.fit(initial_epoch=dvclive.step, epochs=100)` instead of `for step in dvclive.range(100)`. There's no manual training loop, which I assumed was the concern raised by @daavoo.

[2021-07-16 23:49] #108 closed

[2021-07-17 06:20] jorgeorpinel commented on #114
Meaning in the `dvc.org` engine, right?

[2021-07-17 06:40] daavoo commented on #114
Yep

[2021-07-17 07:20] jorgeorpinel commented on #114
Are we planning to host DVCLive docs in dvc.org long-term?

[2021-07-18 20:25] shcheklein commented on #114
No the near future plans to move it. Also, we would need this anyway, only base part of the link will be changing.

[2021-07-18 20:26] shcheklein commented on #114
Also, I think these issues are at least of the same importance as writing docs - we should pay attention to automation, dev (writers) experience, keep MD files as clean and simple as possible.

[2021-07-19 06:55] daavoo opened #116 "Update docs index"
- Link docs index to this repository.

- Add info about summary files.

- Extend "principles" to include the ones mentioned in the README.

- Add installation instructions

[2021-07-19 06:58] jorgeorpinel commented on #114
OK. Also keep in mind we can use reference links like

[code]

If we want to do something about it without waiting for the engine change.

[2021-07-19 07:58] daavoo commented on #113
Yes, my concerns were about *ML Frameworks* where there is not an easy way to integrate the usage of `dvclive.step`, also was worried about the consistency between different `dvclive<>ML Framework` integrations given that not every *ML Framework* might have support for "resuming" or indicating an initial epoch that is not `0`.

For some *ML Frameworks*, where the user writes it's own training loop

[2021-07-19 08:09] daavoo opened #117 "API Reference enhancements"
https://github.com/iterative/dvc.org/pull/2632#pullrequestreview-708848857

[2021-07-19 08:47] daavoo opened #118 "integrations: Optuna"
From [Optuna](https://github.com/optuna/optuna):

Existing integrations with other *ML Loggers* are maintained in the repository implemented as callbacks:

https://github.com/optuna/optuna/tree/master/optuna/integration

Related discord thread:

https://discordapp.com/channels/485586884165107732/563406153334128681/866102743235297280

[2021-07-19 08:50] daavoo commented on #100
For reference, review existing *ML Logger* integrations with `Optuna` #118, which is an *hyperparameter optimization framework*.

It looks like `log_param` could be more useful when integrating with `Hyperparameter Optimization Frameworks` than when integrating with `ML Frameworks*.

[2021-07-19 09:07] daavoo commented on #100
In may occasions I have found the params automatically logged by other *ML Loggers*  quite useful, specially when collaborating with other people to train the same model.

For example (toy example to get the point), the `mlflow<>keras` integration automatically (with `log_param`) logs the [value of the `learning_rate` ](https://github.com/mlflow/mlflow/blob/master/mlflow/keras.py#L646). Maybe one

[2021-07-19 09:18] #107 closed

[2021-07-19 10:38] pared commented on #89
@dberenbaum wouldn't that mean that we would somehow need to spercify what does "the best" mean?

[2021-07-19 10:43] daavoo commented on #89
If you use `dvclive` alonside `DVC`, it kind of already saves the space if you follow the workflow I described above.

`dvc exp run` saves all models (for example if `dvclive.keras` integration is used it will create one checkpoint per epoch) but `dvc exp apply` (user selects which one is the "best")  followed by `git commit` will delete all the other models and just keep the the selected checkpoi

[2021-07-19 10:45] daavoo opened #119 "Simplify Usage Guide"
Ref:

https://github.com/iterative/dvclive/issues/87

[2021-07-19 13:48] dberenbaum commented on #118
Interesting idea!

I imagine it would look something like `study.optimize(objective, n_trials=10, callbacks=[DVCLiveCallback()])`, and the output of each completed trial would be logged as a step with its corresponding metrics.

Some questions I have:

1. For DVC integration, would it be better to represent each trial as a checkpoint within a single experiment, or as individual experiments (in oth

[2021-07-19 14:24] dberenbaum commented on #89
Yes. At least, it would probably entail specifying the metric to monitor and whether min/max is best.

Actually deleting the other models requires some additional steps (`dvc exp gc` and `dvc gc`), and it doesn't prevent storage from potentially blowing up with poorly performing models in the first place.

Maybe more importantly, keeping only the best model is one way to address the issue you rais

[2021-07-19 16:58] daavoo opened #120 "Update `MMCV` integration"
Even though `path` is optional in `dvclive` (https://dvc.org/doc/dvclive/api-reference/init#parameters) the existing `MMCV` integration requires this parameter (https://github.com/open-mmlab/mmcv/blob/master/mmcv/runner/hooks/logger/dvclive.py#L30).

The integration should be updated making `path` optional for consistency and to prevent users unfamiliar with `dvclive` from encountering unexpected

[2021-07-19 23:01] #117 closed

[2021-07-20 07:32] DavidGOrtega commented on #91
That would be awesome. I think that the best integration would be if dvclive would work as tensorboard. Something that you can launch and give you a url in return. We wrapped that under cml-tensorboard-dev.

I implemented something like that in ```cml-publish```. The idea was to initiate a daemon when you used cml-publish to watch for file changes of the file that you published with ```cml-publish

[2021-07-20 11:42] pared commented on #100
I wonder how we could integrate this functionality whit DVC. In our designated workflow, the training code reads the params, so that DVC can take control over params files. When we implement this, we will also have params, but they will be more of "run information", rather than control parameter, so in a way, they will resemble metrics.
I guess we could make `dvclive` dir contain `params` and `met

[2021-07-20 12:01] daavoo commented on #89
I personally like that workflow more than the `checkpoint apply`, however I'm not sure what would be the best way to implement it.

On the one hand we could implement all the functionality on the `dvclive` side; meaning that, in addition to taking care of saving the model (#105) for each integration, we would need to:

- Implement the logic for *monitoring the best metric*
- Expose it to the user

[2021-07-20 12:27] dberenbaum commented on #91
That sounds cool, @DavidGOrtega! Definitely cleaner than a separate report for each checkpoint. In this case, can dvclive republish to the same url at each step without needing a daemon?

[2021-07-20 13:06] DavidGOrtega commented on #91
Yes, it could. Something that actually @pared also liked when I shared the idea in general and gave the same feedback.
Its not implemented in CML, its a local experiment like the extension that we did

[2021-07-20 18:21] daavoo opened #121 "`dvclive.log`: Support to remap given `name` to `target`"
It could be convenient, not sure how much, to let the user configure a remap from the `name`s passed to `dvclive.log` to some given `target`s. Internally, could be easily implemented.

For example (not sure how to configure it, just using `dvclive.init` here to show the idea) the following code:

[code]
Will actually generate `dvclive/accuracy.tsv` instead of `dvclive/acc.tsv` (current behavior).

[2021-07-21 01:00] #116 closed

[2021-07-21 07:03] daavoo commented on #102
I've tried adding the `.dvclive.tsv` suffix and it is not showing on `dvc plots` (it uses the name of the column header). I think that, as there is not real impact beyond ensuring we don't accidentally delete other user files, we could add that change.

I agree with the need for a clarification in the docs, could be added in addition to the change.

[2021-07-21 10:19] daavoo opened #123 "Add docs for Integrations"

[2021-07-21 10:30] pared commented on #121
I like that idea!
@dberenbaum what do you think?

[2021-07-21 17:44] dberenbaum commented on #102
I already don't love that `dvclive` is in the directory and summary paths by default, since it makes the output paths less generically useful, but at least those can be changed. If we take the `.dvclive.tsv` approach, it makes these all look like special `dvclive` files instead of regular metric logs that happen to have been written using `dvclive`.

@daavoo Do you see a need to have a directory w

[2021-07-21 17:51] dberenbaum commented on #102
Also, the idea that dvc needs to delete all existing files before running is kind of an outdated one. We may stop doing that in dvc, in which case we might want to rethink the approach here. I don't think it's a high priority to change the behavior in `dvclive` now.

[2021-07-21 18:00] dberenbaum commented on #121
I don't see any issue with it. I'm not sure how valuable it is, since switching ML frameworks seems more likely to be an issue for internal testing than for most users, but having control over metrics names seems nice to have.

Does this belong in `dvclive.init()` or in the integration? Would you ever use it like the above example where you manually call `dvclive.log("acc", 0.9)` but actually want

[2021-07-22 09:01] pared commented on #121
@dberenbaum I guess this is more for the integrations, where sometimes you have predefined names (like keras). Or am I wrong here @daavoo?

[2021-07-22 09:19] daavoo commented on #121
The use case would be definitely focused on integrations, given that if you own the code with explicit calls to `dvclive.log` you could just change the name in the call.

What I'm not sure about is whether the feature should be implemented on the `dvclive` side (adding the arg to `dvclive.init`) or on each integration (adding the arg to `DVCLiveCallback`).

[2021-07-23 13:34] daavoo commented on #39
This can be closed right @pared ?

[2021-07-23 14:09] daavoo commented on #102
I'm not sure. The scope of the related P.R. was just to prevent users from accidentally deleting a full directory. I think that we can just remove `.tsv` files (https://github.com/iterative/dvclive/pull/122#issuecomment-884072343) as a compromise. This would remove the `.dvclive` prefix and at make the cleanup a little safer for the user.

[2021-07-23 19:15] dberenbaum commented on #102
That makes sense. It's probably better to not be overly aggressive with deletion.

I'd still consider waiting or coordinating with plans for future DVC behavior to try to be consistent. Cc @efiop any thoughts?

[2021-07-25 19:28] efiop commented on #102
@dberenbaum Have to note that in dvc we do that while checking that the files we are deleting are present in the cache, which is only slightly better. But I agree that we could be smarter about that in dvc (e.g. by checking mtime and maybe warning the user that it looks like his outputs didn't come from his stage or smth like that) or maybe backing up existing outputs into a temp location (e.g. da

[2021-07-26 07:09] #102 closed

[2021-07-27 07:22] daavoo commented on #4
@pared can this be closed, given https://github.com/iterative/dvc/blob/master/tests/func/test_live.py ?

[2021-07-27 07:28] #39 closed

[2021-07-27 09:57] pared commented on #4
@daavoo you are right!

[2021-07-27 09:57] #4 closed

[2021-07-27 09:57] pared commented on #4
For sake of preserving the history i provide link to particular version:
https://github.com/iterative/dvc/blob/2.5.4/tests/func/test_live.py

[2021-07-27 15:55] daavoo commented on #121
I think that, for this kind of small features, it would be more beneficial to have the implementations on the `dvclive` side so we don't depend on sending P.R. to each "external integration" repository.

[2021-07-27 18:52] dberenbaum commented on #121
Makes sense. The reason I raised the question is because `dvclive.init()` already has several arguments, and it's easy to keep adding more. How can dvclive functionality continue to be extended without weighing down `dvclive.init()`?

[2021-07-28 12:25] pared commented on #121
@dberenbaum I would leave visible the most important parameters (eg init path) and put rest into kwargs and provide more info in docs/doscstrings for the method.

[2021-07-29 09:31] #60 closed

[2021-07-29 21:03] daavoo opened #128 "`dvclive.init`: Future of arguments"
Discussion regarding `dvclive.init` and it's number of arguments have emerged across multiple issues (i.e. https://github.com/iterative/dvclive/pull/69, https://github.com/iterative/dvclive/issues/75, https://github.com/iterative/dvclive/issues/121, https://github.com/iterative/dvclive/pull/124), specially those regarding the addition of new features, so I opened this one to concentrate all discus

[2021-07-30 11:52] #110 closed

[2021-07-30 11:52] #120 closed

[2021-07-30 11:58] daavoo commented on #121
Opened #128 for continuing the discussion about arguments and leaving this issue for discussing the `remap` feature.

[2021-07-31 09:47] naibatsuteki opened #129 "metrics bug: `dvclive.log` with 0 as step param value, save wrong step to log file"
During creating pytorch lightning logger, I found small bug  in `dvclive.log` method. When call with `0` as step param value, logger use value from internal state of loger instead passed by param, and this cause corruption in my log wehen step/epoch start from 0.
Due to pytorch lightning specific I must use `dvclive. log` method with step param, instead `dvclive.next_step`.

Corrupted log example:

[2021-07-31 10:44] daavoo commented on #129
Hi @naibatsuteki ! Thanks for the bug report. Do you plan to send a P.R. with the fix??

Also, regarding the PyTorch Lightning logger, are you planning to contribute it to the DVCLive repository (#85) ??

[2021-07-31 10:54] naibatsuteki commented on #129
Yes. I send P.R with fix today :)

According to #85.
Yes, I'm planning contribute it to the DVCLive repository.

[2021-08-02 08:33] daavoo commented on #128
`summary` could be reused for configuring something like: https://github.com/iterative/dvclive/pull/124

[2021-08-02 11:44] daavoo opened #132 "integrations: LightGBM"
It would be nice to have a `dvclive` integration with [LightGBM](https://lightgbm.readthedocs.io/en/latest/).

Example of custom callback:

https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py#L199

We would maintain the implementation in the DVCLive repository.

- [ ] Add new callback to DVCLive
- [ ] Update docs in [dvc.org](https://github.com/iterative/dvc

[2021-08-02 13:34] pared commented on #128
`html` - I agree that we could get rid of that
`resume/step` - i never used them separately, and I think they could be merged
`summary` - i think making it part of #124 would be a nice extension of functionality, possibly allowing us to not create it if needed (eg if `summary=None` dont create it)

Well, we are at `0.0.6`, its still a wild west - we will just bump the minor version in that case.

[2021-08-02 16:14] dberenbaum commented on #128
`html`

Hmm, yes, it seems like the considerations are similar to https://github.com/iterative/dvc/issues/6182 and https://github.com/iterative/dvc/pull/6332. Agree that it's probably better to have this specified by a dvc env var.

Are these basically hooks for experiments/checkpoints? Maybe we need a more general mechanism here? 🤔

`resume/step`

They do seem redundant, but how would I do the eq

[2021-08-02 17:27] #109 closed

[2021-08-02 20:12] dberenbaum commented on #89
Great points! Users will probably rather reuse the existing functionality within those ML frameworks, and it fits better with the dvclive ethos of being lightweight and interfering with code as little as possible. It does make the integrations more involved and potentially inconsistent between frameworks, but better to handle this in dvclive than expect users to do it themselves, right?

Existing

[2021-08-03 07:56] daavoo commented on #128
`resume_from=0`.  Currently, `resume=True` is actually `step=0, resume=True`.

If we define `resume_from: Optional[int] = None`, we would make:

- `resume_from=None` (default) equals to `resume=False`.
- `resume_from=X` equals to `resume=True, step=X`.
- - `resume_from=0` equals to `resume=True, step=0`, trying to read `step` from summary.

[2021-08-03 19:59] zili55 commented on #93
Hello, can I take this issue?

[2021-08-03 21:00] daavoo commented on #93
Sure!

[2021-08-04 20:26] dberenbaum commented on #128
IMHO keeping `resume` and `step` separate may be less confusing, or at least it's not an obvious enough improvement to change the API. Something like `step=5, resume=True` is also confusing, but I think it's unlikely for users to do that unless they are trying to break something 😄 .

[2021-08-05 08:42] pared commented on #128
I think that if we would like to have `resume_from` we would need clear and easy communication equivalent for `resume=False` and `resume=True` (which means resume from latest found).

[2021-08-05 09:26] daavoo commented on #128
Maybe combining `step` and `resume` is not really the way to go.

Having `resume` as a boolean makes sense. Maybe we could just remove `step` from the public init? What would be the scenario where someone passes `step=X` (being X other than 0) and `resum=True`)?

If there is such scenario, would it make sense to  "hide" the `step` property under something like `dvclive.get_step`/`dvclive.set_step`

[2021-08-05 09:50] pared commented on #128
When one would like to start from a different step than the latest, but it's hard for me to imagine how such code would look like - because the model would also have to be brought back to X.

[2021-08-05 13:03] dberenbaum commented on #128
Removing `step` from `dvclive.init()` makes sense to me. And, as mentioned in #113, a `step` property could be helpful in a lot of scenarios.

[2021-08-06 11:45] daavoo commented on #105
All existing integrations already support saving models so I'm closing this issue.

We can now start requiring model saving capabilities to new integrations.
Future improvements regarding saving models could be discussed in a separate issue as they come.

[2021-08-06 11:45] #105 closed

[2021-08-07 21:56] pacifikus commented on #132
Hello, @daavoo
I've added a callback for lgbm, where can I place the docs update? I see folder dvc.org/content/docs/dvclive/user-guide/ml-frameworks in one branch on review, is it ok for PR?

[2021-08-09 07:37] daavoo commented on #132
Hi!

The User Guide, where integrations will be documented, is still a work in progress so for now just don't worry about it and I will take care of adding LightGBM docs once the P.R. gets merged.

[2021-08-09 09:14] #132 closed

[2021-08-09 16:51] pacifikus commented on #83
@daavoo Should we only save the train metrics, or do we need valid metrics as well?

[2021-08-09 16:57] daavoo commented on #83
For consistency I think we should also save validation metrics. Does this affect the inplementation details?

[2021-08-09 23:42] #123 closed

[2021-08-09 23:42] #119 closed

[2021-08-10 07:44] #86 closed

[2021-08-10 07:49] daavoo opened #136 "integrations: fastai"
It would be nice to have a dvclive integration with [fastai](https://github.com/fastai/fastai):

Existing integrations are maintained in the repository implemented as callbacks:

https://github.com/fastai/fastai/tree/master/fastai/callback

We would maintain the implementation in the DVCLive repository.

- [x] Add new callback to DVCLive
- [x] Update docs in dvc.org

[2021-08-10 21:20] jorgeorpinel commented on #93
Looks like this was fixed by https://github.com/iterative/dvclive/pull/135. Can we close this?

[2021-08-11 07:44] #93 closed

[2021-08-12 12:42] pacifikus commented on #83
After some research, it seems to me that we can get the eval metrics from the log or callback, but not the training metrics. One way to deal with this is to use a manual call to the evaluation function on the train set, but this will slow down the training process.

https://discuss.huggingface.co/t/trainer-api-to-log-both-training-and-validation-metrics/7785

https://discuss.huggingface.co/t/metri

[2021-08-12 15:52] daavoo commented on #83
Great research!. I guess that saving only the eval metrics makes sense, as it will be consistent with how other ML Loggers work with HuggingFace.

[2021-08-17 19:42] daavoo opened #138 "User Guide updates"
I would suggest to move the Quickstart to the top level. It deserves it. Consider also, updating the home page to have some tiles like DVC and CML have.

_Originally posted by @shcheklein in https://github.com/iterative/dvc.org/issues/2664#issuecomment-895623592_

[2021-08-18 15:39] #83 closed

[2021-08-24 08:27] daavoo opened #140 "integrations: Load `model_file` on init for resuming"
In order to properly [resume training with dvc checkpoints](https://dvc.org/doc/user-guide/experiment-management/checkpoints#starting-from-an-existing-checkpoint), the user needs to load the existing `model_file` at the beginning of training.

Given that DVCLive integrations already take care of saving the `model_file` I think it makes sense to also include some logic to load the `model_file`,  if

[2021-08-24 10:50] #112 closed

[2021-08-25 10:23] daavoo opened #141 "`dvclive.next_step`: Include info about checkpoint hash"
When using `dvclive` alongside `DVC checkpoints`, each `step` is associated with a checkpoint hash.  Afaik, the relation between `step` and `checkpoint` is currently only available in the `dvc exp show` table.

I think t could be a good feature to include this information in `dvclive` logs/summary.

[2021-08-25 13:25] daavoo opened #143 "Expose `logs` parsing utilities"
I think it could be useful to expose something similar to the parsing utilities used in tests (i.e. [`read_logs`](https://github.com/iterative/dvclive/blob/master/tests/test_main.py#L21)).

This could enable an easy way of parsing `dvclive` outputs into some format more suitable for analyzing the logs in python (ie. pandas `DataFrame`).

The expected inputs/outputs are not 100% clear so it might b

[2021-08-26 14:48] dberenbaum opened #144 "Custom step"
Extracted from https://github.com/iterative/dvclive/pull/142#pullrequestreview-738942719.

- What is the intended use case for a custom step?
- Should it overwrite existing values for the same step (it doesn't)?
- Should results be ordered by write time or step (they are ordered by write time)?
- Why set custom steps at the metric level with dvclive.log(step=n) since the step value should probably

[2021-08-26 14:50] dberenbaum opened #145 "logger: log to summary first, then to logs"
Extracted from https://github.com/iterative/dvclive/pull/142#pullrequestreview-738942719.

Would summary -> tsv be more helpful (this would obviously require summary to always exist)? It's more intuitive to me (and follows the internal logic of MetricLogger._metrics) to gather all metrics for a step and then append to metrics logs. It also enables no-step scenarios like classical ML algorithms by

[2021-08-27 13:10] casperdcl opened #147 "auto-refresh"
A little JS code in `dvclive.html` should handle auto-refreshing if the file on disk has changed.

- related #61

[2021-08-30 09:05] daavoo opened #148 "`{path}.html` is no longer the HTML report output path"
https://github.com/iterative/dvc/pull/6431/files#r698317884

[2021-08-30 15:03] #136 closed

[2021-08-30 21:02] #114 closed

[2021-08-31 13:12] daavoo opened #149 "Enable `dvc`/`dvclive` integration tests"
`live` tests are being skipped in `dvc` C.I:

https://github.com/iterative/dvc/blob/master/tests/func/test_live.py#L60

[2021-08-31 13:15] daavoo commented on #149
Related (the other way around): #32

[2021-08-31 14:06] iesahin opened #289 "dvclive: Add a note _not_ to use `dvclive.init` when using keras Callback"
I think it's better to notify the user that `dvclive.init` is called inside the callback in https://dvc.org/doc/dvclive/user-guide/ml-frameworks/keras

They also don't need `import dvclive`.

@daavoo @dberenbaum

[2021-09-01 09:17] #147 closed

[2021-09-01 09:21] daavoo commented on #32
I've sent a P.R. enabling `dvclive` integration tests on `dvc` C.I. I think that should be enough, not sure what benefits would have to move those tests to `dvclive` C.I.

[2021-09-01 10:47] daavoo opened #150 "`dvclive.log`: Support images"
Now that dvc has [support for logging images](https://github.com/iterative/dvc/pull/6431), it makes sense to also add support on the `dvclive` side.

A few questions arise:

## `dvclive.log` or `dvclive.log_image`

Should the existing `dvclive.log` method be extended to accept a new input type (Image-like) or should we add a new separate method ?

For reference:

- wandb has a single [`log` method

[2021-09-01 10:57] daavoo commented on #150
I'm more inclined to extend `dvclive.log` to keep the API as simple as possible, although I have no strong preference.

I think that we should use Pillow internally for saving the images and just accept anything that can be converted to a Pillow image (like the list above).

Not sure if we should consider an already saved image a valid input, as it might get tricky regarding how DVC would handle i

[2021-09-01 10:58] daavoo commented on #150
cc @dberenbaum @pared

[2021-09-01 10:59] daavoo commented on #82
Created a separate issue for images: https://github.com/iterative/dvclive/issues/150

[2021-09-01 11:06] daavoo commented on #82
So, if I understand correctly, `dvclive` would be logging an entire dvc plot (i.e. a full `.tsv` file) for each call where an array is received?

[2021-09-01 13:11] dberenbaum commented on #82
I don't think much thought has been put into how this would be supported in dvclive. Some options:

1. Each step logging an array/plot could replace the existing file, although this seems problematic without dvc integration since previous steps will be lost.
2. Each step appends to the file, adding a step column. Some changes in core dvc plots would likely be needed to render these plots.
3. Each

[2021-09-02 09:32] daavoo opened #151 "Move from `__init__` to `dvclive.api`"
We currently promote the usage of `import dvclive` and the namespace is a little polluted.

Moving the `__init__ `content to a separate `dvclive.api` module and then on `__init__` importing only the public API functions `init`, `log`, `next_step`, `get_step` would make `dvclive` namespace from `import dvclive` cleaner

[2021-09-02 10:54] daavoo commented on #148
From https://github.com/iterative/dvc/pull/6431/files#r700894470 :

[2021-09-02 11:42] daavoo commented on #148
Added a branch with those changes (`tsv`, `html`, `summary.json`) in dvc core:

https://github.com/iterative/dvc/compare/dvclive-output-subdirs

No strong preference on the alternatives but I don't really like `_dvc_logs`, looks weird even in docs: https://github.com/iterative/dvc.org/pull/2783/files

[2021-09-03 09:39] #148 closed

[2021-09-03 19:50] #32 closed

[2021-09-03 19:50] #149 closed

[2021-09-07 07:59] pared commented on #144
Intended use case was for situation when we log every n-steps, though I have to admit that providing it in log is unfortunate. We should have something that could scope whole step.

I wouldn't go this way, because it will make users introduce logic calculating the next step value in the current loop iteration, which might be error prone (eg user changes range args, but forgets to update `next_step

[2021-09-07 09:16] pared commented on #150
I don't see a reason why would we need separate methods. It seems to me that in most cases we could determine the way of storing the object by its type.

We need to remember that we might not have the necessary tools for that (if we have vanilla `dvclive` it might be hard to determine whether a given object is pytorch's tensor).

I am fine with using Pillow, though we need to decide whether we add

[2021-09-07 09:18] pared commented on #82
I see that I answered some of the questions under #150
Let's keep the discussion here?

I think this issue heavily relies on iterative/dvc#5980 - and we might need to resolve it on dvc side first.

[2021-09-07 18:13] dberenbaum commented on #144
I can only think of an interactive scenario where I wrote the wrong step value and later want to correct it. Not a major concern.

Good points. Again, not a major concern.

Seems simple and effective. Probably better to go this way and give users control (the Python way) rather than figure out "correct" behavior for every scenario.

[2021-09-08 09:27] daavoo opened #154 "Add `dvclive.set_step`"
From #144. Remove `step` from `dvclive.log` level and add a new method `dvclive.set_step` for enabling "custom step" behavior.

[2021-09-08 10:49] pared commented on #154
I know its getting boring,  but maybe we should also add `get_step`? :D (vide https://github.com/iterative/dvclive/pull/142#discussion_r702908276 discussion) Now it would make more sense to have both getter and setter

[2021-09-08 19:03] dberenbaum commented on #154
Wish I had seen the comment above before adding more to that thread 🤣 .

[2021-09-09 08:43] #138 closed

[2021-09-09 15:11] daavoo commented on #150
Agree

PyTorch won't be really needed for the check, I think. You can just implement the check parsing the strings in `X.__class__` and add lazy imports required for conversion in a separate "convert from PyTorch" function.

Feels to me that Images should be a first-class citizen and hence Pillow (or whatever) a required dependency. No strong opinion, though.

@pared Do you mean that the existing

[2021-09-09 20:19] daavoo commented on #90
Another open source tool:

https://github.com/aporia-ai/mlnotify

[2021-09-09 21:16] daavoo opened #156 "`dvclive.log` "side effects""
I would like to discuss the current behavior of `dvclive.log` which, in certain situations, replaces `dvclive.init` and calls `dvclive.next_step`.

It is not clear for me the tradeoff between benefits and potential problems of these "side effects" and would like to know about potential benefits I might be missing.

Assuming that the primary usage of `dvclive` would be through our provided integrat

[2021-09-09 21:17] daavoo commented on #156
cc @dberenbaum @pared

[2021-09-10 09:46] daavoo commented on #140
Lowering the priority as this depends on deciding and documenting the recomended workflow for DVC checkpoints

[2021-09-10 12:41] dberenbaum commented on #156
@pared will know better about the reasons for the current implementation, but I assume it's convenience of being able to skip unnecessary `dvclive.init()` and `dvclive.next_step()` calls, as well as maybe being flexible for users who might forget to call those. However, I don't feel strongly about whether this added convenience is worth the tradeoffs of unclear implicit behavior.

Not sure if this

[2021-09-10 12:52] pared commented on #150
My concern is how should we treat logged images - when we are logging int/float values we expect that the user will run `dvc plot` on this file. Each step is saved as entry in tsv file. How do we do that in the case of images?  save it under `images/{image_metric_name}/{step}`? Then how do we display it using DVC? We are unable to compare different images on the same commit.

[2021-09-10 13:04] daavoo commented on #156
My intention was to later treat that exact point. I think that, in addition to what you pointed, it could also simplify some things like `get_step` / `set_step` as those would be unnecessary and become a plain `step` Python @property wich people could manipulate.

[2021-09-10 13:06] #111 closed

[2021-09-10 18:54] dberenbaum commented on #150
Related to #82.

[2021-09-10 18:55] dberenbaum commented on #82
Personally, out of the options above, I see #2 as the most useful.

[2021-09-10 21:10] dberenbaum commented on #156
Related: https://github.com/iterative/dvclive/issues/36

[2021-09-13 07:22] daavoo commented on #145
Related: https://github.com/iterative/dvclive/pull/157#discussion_r706467734

[2021-09-13 07:40] daavoo opened #159 "Public methods vs MetricsLogger instantiation"
Not sure if this belongs in this issue, but what is the advantage of `dvclive.init()` over `logger = dvclive.MetricsLogger()` as the canonical workflow? Explicitly calling `MetricsLogger` seems more transparent, removes an extra layer of abstraction, and makes it easier to manage multiple loggers.

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/issues/156#issuecomment-91

[2021-09-13 12:10] daavoo commented on #53
I was able to reproduce the bug. It's more on the DVC side as it is related to how `plots_data` is collected with `fs.walk`.

[2021-09-13 15:47] dberenbaum commented on #150
@daavoo What would you expect to log here and what output would be helpful? Would you want to compare all steps across time? Would you want this logged like live metrics in the html that get updated at each step?

[2021-09-13 15:52] dberenbaum commented on #82
Another visualization question: Does each step's array show up as a single plot side by side with other steps, or should all steps be shown overlaid on the same plot like `dvc plots diff`?

[2021-09-14 07:26] daavoo commented on #150
@dberenbaum I accidentally edited your comment instead of quote reply 😅

I would like to be able to pass any Image-like object (i.e. the list in the description) to `dvclive.log` and a `filename`. I would expect `dvclive` to take care of saving the image in the right format and path (i.e. `{dvclive.images_path}/{filename}`).

As this method won't be probably called automatically by the integration

[2021-09-14 08:04] daavoo opened #161 "`dvclive.log`: Support tensors/arrays of lenght 1 (scalars)"
_Originally posted by @aguschin in https://github.com/iterative/dvclive/issues/82#issuecomment-854762457_

[2021-09-14 08:26] daavoo commented on #82
I think that using a JSON format would be better than TSV (could be probably used aswel, the JSON structure just feels more intuitive to me) as it kind of aligns with existing functionality (https://dvc.org/doc/command-reference/plots/show#example-hierarchical-data).

So:

[code]

Generates:

[code]

And subsequent calls:

[code]

Would update as follows:

[code]

In the above example, `dvc plots

[2021-09-14 08:31] daavoo commented on #82
Apart from the above discussion, we are currently assuming that logging a 1D array means that the user wants multi-step `linear` plots.

However, another common use case would be to plot histograms (and thus multi-step histograms) which is not currently supported with default DVC templates.

[2021-09-14 11:15] pared commented on #156
The main reason for providing library-level API was for user convenience, but now, after some development, it clearly seems that out-of-the-box functionality makes the learning curve steeper. If we begin to teach by providing `MetricLogger` we don't have to handle #36 at all. In that case, we need to remember that we would need to move `from_env` as @daavoo mentioned.

[2021-09-14 17:17] daavoo opened #162 "`dvclive.log`: Remove the implicit `next_step` call ."

[2021-09-14 17:48] daavoo commented on #145
Coming from #157 , looks like instead of switching `tsv` -> `summary` order would be better to just do `tsv` and `summary` in the same place (`dvclive.log`)

[2021-09-14 18:04] dberenbaum opened #163 "html: render without dvc integration?"
Should HTML output be tied to DVC integration? Features like #82 and #150 may depend on the HTML report to show the logged data/images. DVCLive will be pretty limited without DVC if we continue in the current direction.

Options to consider:
1. Continue requiring DVC for HTML output, noting the limitations of using without DVC.
2. Continue requiring DVC for HTML output and stop support for non-DVC

[2021-09-14 18:07] dberenbaum commented on #150
DVC issue for this: https://github.com/iterative/dvc/issues/6603

Is it worth providing an option to integrate with TensorBoard to enable this (see https://github.com/iterative/dvclive/issues/66)? It seems easier than adding sliders into DVC HTML, and users might prefer this if they are already familiar with TensorBoard.

[2021-09-14 20:41] dberenbaum commented on #82
Not sure I understand what the data is in your example or how it's different from the scalar logging already being done. Is it about logging multiple epochs in one step?

This is closer to what I thought this issue was about - logging hierarchical or tabular data at each step rather than scalar metrics. This would not assume multi-step linear plots or any particular plot type (although I'm not sur

[2021-09-14 20:47] dberenbaum commented on #156
Can we emphasize `MetricsLogger -> log -> next_step` but still keep `for i in range(epochs): dvclive.log()` as a simplified workflow for ease of use in simple scenarios? We could get rid of `dvclive.init()` and `dvclive.next_step()` but keep `dvclive.log()` since this is less for users to remember in simple scenarios. Or do you think that could still cause confusion?

[2021-09-14 21:09] dberenbaum commented on #145
From https://github.com/iterative/dvclive/pull/157#discussion_r708452879:

This might not be an issue since I think a final checkpoint is implicitly added if anything has changed since the last checkpoint.

[2021-09-15 08:11] #144 closed

[2021-09-15 08:11] #154 closed

[2021-09-15 09:43] daavoo commented on #151
Closing in favor of #159

[2021-09-15 09:43] #151 closed

[2021-09-15 14:38] pared commented on #145
@dberenbaum I modified the discussion title to make it  clearer

[2021-09-15 14:44] pared commented on #82
JSON or YAML are definitely more versatile than `*sv` types. If we want to support logging whole arrays (which makes sense to me if we, for example, generate ROC each step), then we would probably need to abandon dumping into `sv`.

[2021-09-15 16:50] daavoo commented on #82
Sorry for the lack of clarity. It was supposed to be an example of how logging a `1D array` would look like, which I thought was the first natural extension of data types to be logged.

I was trying to show that instead of generating new `.tsv` files at each step the 1D array could be appended to an existing `.json`/`.yml` file, having the key set to `step`.

[2021-09-15 16:55] daavoo commented on #82
Each data type could have its own isolated dumping method (part of [this P.R.](https://github.com/iterative/dvclive/pull/164/files#diff-48e9173817732118fd6d1278a97ffd4a78db0afbb184f381fd0ae6af1a59c9b7)), so won't need to abandon `.tsv` for scalars, right?

[2021-09-16 06:25] #53 closed

[2021-09-16 07:24] daavoo commented on #163
When considering only how this affects DVCLive, would this kind of concern be covered by https://github.com/iterative/dvclive/issues/61 ? Making `dvc` just one of different "plotting" backends would solve the `pretty limited without DVC`, I think.

However it feels like implementing some of that options would have impact beyond DVCLive and that's what we are discussing here

[2021-09-16 13:02] pared commented on #82
Agree, we could possibly extend logging arrays to `tsv` too, but it would make them a bit unreadable.
I have something like this in mind:

[code]

[2021-09-17 10:23] #145 closed

[2021-09-17 10:23] #162 closed

[2021-09-20 11:48] pared commented on #159
Public functions require us to handle logger object instantiation. If we move this responsibility to users we effectively remove the need to handle multi-threaded use cases like #36.

[2021-09-22 20:07] dberenbaum commented on #163
From recent comments in https://github.com/iterative/dvclive/pull/166#issuecomment-925270199 and https://github.com/iterative/dvc.org/pull/2839#discussion_r714264722, the `dvc plots diff` output for images looks similar to what might be wanted for dvclive image support (a directory with a `{step}_file.png` for each step). I wonder if abstracting/packaging the HTML rendering would enable flexibilit

[2021-09-23 08:58] pared commented on #163
@dberenbaum yep it woul,

Rendering method of DVCLive just requires templates and proper data structure, a dict as follows:

[code]
We could just build the dict on dvclive side and pass it to rendering function.
If we are to extract rendering to separate package we would probably need some renaming (like not relying on `revision`, as its git concept, but maybe `version`) but those are minor things

[2021-10-04 07:50] #85 closed

[2021-10-04 08:55] dragarok opened #169 "Extra set of directories created while using live option"
Python version: 3.8.5
DVC version: 2.7.4 (pip)
DVC live version: 0.2.3

In using dvc live option, it creates extra set of directories when called from within dvc.yaml's current working directory. This is creating issue while running command "dvc push" which results in error saying the directory couldn't be found.
In my case, it is train_metric.

[Link to dvc.yaml](https://github.com/dragarok/ML_Wo

[2021-10-04 09:21] daavoo commented on #169
Looking into this, thanks for reporting @dragarok

[2021-10-04 11:31] daavoo commented on #169
Issue was on the DVC side, should be fixed by https://github.com/iterative/dvc/pull/6740

[2021-10-04 14:55] daavoo opened #170 "`PyTorch Lightning`: Support saving model to `model_file`"
To be consistent with other integrations.

[2021-10-04 16:23] sirily commented on #170
Copy here from PR conversation:
`LightningModule` implements method `log`, which user call to store everything he wants, and then `LightningModule` calls logger. Checkpoints are saved at the end of batch/epoch via hooks like `on_train_batch_end`, etc. Logger doesn't has access to these hooks.
To save models we should write callback and encourage users to use it with our logger. But users can use n

[2021-10-05 07:31] #169 closed

[2021-10-05 13:20] daavoo opened #171 "`dvc`: Absolute path for `DVCLIVE_PATH` env var."
I think we should keep the path in envvar in an absolute form in `DVCLIVE_PATH`. Otherwise, the user's script could change the working directory similar to following:
[code]

_Originally posted by @skshetry in https://github.com/iterative/dvc/pull/6740#discussion_r721960389_

[2021-10-05 14:45] skshetry commented on #171
Isn't this a `dvc`'s issue where it sets `DVCLIVE_PATH` to be a relative path (even before your last PR)?

https://github.com/iterative/dvc/blob/16f404b16a50/dvc/stage/__init__.py#L276

[2021-10-05 14:52] daavoo commented on #171
Yep but I kind of track any DVCLive related issues on this repo regardless of whether the changes should go to DVC or this repo

[2021-10-05 15:03] #36 closed

[2021-10-05 15:03] #156 closed

[2021-10-05 15:03] #159 closed

[2021-10-07 17:03] daavoo opened #172 "`step`: Remove methods in favor of `@property`."
Now that there are no public methods, some of the `Live` methods (`get_step`, `set_step`, `next_step`) feel redundant as they could be replaced with common python property syntax:

`Live.get_step()` -> `Live.step`
`Live.set_step(X)` -> `Live.step = X`
`Live.next_step()` -> `Live.step += 1`

[2021-10-07 18:17] daavoo opened #173 "keras"

[2021-10-07 18:19] daavoo commented on #140
Back to `p1` as it is relevant for simplifying the "recovering with `DVC_EXP_AUTO_PUSH`" scenario

[2021-10-08 12:15] casperdcl opened #175 "v0.4.0 breaks API"
looks like #167 broke API (see https://github.com/iterative/checkpoints-tutorial/issues/1)

I'd suggest revert the breaking change & release it as v0.5.0, then (if required) re-implement & release v1.0.0.

[2021-10-08 12:25] skshetry commented on #175
It's a zero-ver, better to pin it on `checkpoints-tutorial` side.

[2021-10-08 12:56] #175 closed, assigned to daavoo

[2021-10-08 14:35] dberenbaum commented on #172
Could support both, but maybe that goes against the "canonical workflow."

[2021-10-14 15:13] sirily opened #177 "`dvc`: prevent printing html path"
I'm using dvclive with pytorch lightning in dvc pipeline. While training there is a string with the path to metrics html, and it breaks progress bar and fills the console with useless messages. Is there a way to disable printing this line?

Inside train stage logger is defined like this:
[code]
in dvc.yaml stage looks like this:
[code]
It seems like nothing bad happens in dvclive, maybe it prints

[2021-10-18 13:29] alealv opened #178 "DcvLiveLogger error with LightningCLI"
# Error

[code]

# How to reproduce

[code]

[code]

[code]

[2021-10-19 17:41] daavoo opened #180 "`dvc`: Option to automatically open the html report"
`dvc plots {show|diff}` have an `--open` option that "opens the generated plot in the browser automatically".

Coming from discussions in https://github.com/iterative/dvc/pull/6815 it looks like having a similar option to automatically open the DVCLive HTML report on the browser would be nice to have.

In addition to whether adding this option is useful (I think it is), questions are where and how

[2021-10-19 22:06] alealv commented on #178
Yes, it works with TensorBoardLogger for example.

[code]

Yes, at the moment I'm using this approach:
[code]

[2021-10-19 23:23] daavoo commented on #178
Thanks for the quick response! Glad to see that there is a workaround. I will take a deeper look

[2021-10-20 19:22] #178 closed

[2021-10-21 13:15] daavoo commented on #90
Interesting integration between [DagsHub](https://dagshub.com/) and [New Relic](https://newrelic.com/) highlighting `alerts` as one of the main features:

https://dagshub.com/blog/real-time-machine-learning-monitroing-new-relic-dagshub/

[2021-10-27 20:40] daavoo opened #182 "`log`: Make plot generation optional"
I think that one of the easiest ways to start exploring how dvclive could provide value in ML Scenarios where there are no training steps (i.e. Most `sklearn` algorithms) would be to make the generation of the `.tsv` plots optional.

Now that both `summary` and `plots` generation happen at `log` level, it should be not complicated to expose an argument equivalent to `summary` (i.e. `plots`?) for t

[2021-10-29 12:41] #177 closed, assigned to daavoo

[2021-11-03 10:23] daavoo opened #184 "`catalyst`: Test for last version is broken"
Recent catalyst versions changed the default formatting of the metrics, based on topk argument: https://github.com/catalyst-team/catalyst/pull/1330

We check for explicit `accuracy.tsv` file which no longer has that name.

[2021-11-03 10:49] daavoo opened #186 "`PyTorch Lightning`: pylint for last version is broken"
Latest version (v1.5.0) requires to override all dataloader methods: https://github.com/PyTorchLightning/pytorch-lightning/pull/9161 making pylint raise error in our test

[2021-11-03 11:01] #186 closed

[2021-11-03 12:05] #184 closed

[2021-11-03 14:28] daavoo commented on #182
That's a very good idea.

I need to do some research on DVC integration (not sure how it would handle the non-existence of plots).

[2021-11-08 15:44] #150 closed

[2021-11-09 15:15] daavoo opened #190 "`dvc`: Add integration test for image support"
To: https://github.com/iterative/dvc/blob/master/tests/func/test_live.py

[2021-11-12 15:49] daavoo opened #191 "`dvc`: Enable model loading/saving based on `checkpoint: true`"
Given a DVC stage where `checkpoints` are enabled:

[code]

Users need to also enable checkpoints on the Python code.

Maybe we could treat the model loading (a lot pending #140)  and model saving similar to how we treat the `path` argument:

A) If `checkpoint: true` is set in DVC and `model_file` is None in DVCLive: we use the value of the output as `model_file` .
B) If `checkpoint: true` is set

[2021-11-12 15:49] daavoo commented on #191
@pared @dberenbaum

[2021-11-12 19:33] dberenbaum commented on #191
What do you mean by "we use the value of the output as `model_file`"? Does that mean infer `model.pth` here?

[2021-11-12 21:03] daavoo commented on #191
Yes. Make DVC store the output path in an env var, like it does for DVCLIVE_PATH

[2021-11-15 11:43] pared commented on #191
@daavoo That would work only in integrations, right?

[2021-11-15 11:47] #190 closed

[2021-11-15 14:32] daavoo commented on #191
With the current implementation, yes.

[2021-11-15 15:09] dberenbaum commented on #191
It makes sense to me.

It still seems slightly awkward to have to define the path in `dvc.yaml`. It would be great if this wasn't needed at all, and the model file was part of the live output by default, but that may be a separate issue.

[2021-11-22 01:35] #180 closed

[2021-11-23 18:05] pared commented on #180
I am not a user, but the inability to turn this off is tiring. My use case is somewhat special because I just run reproduction scripts and mostly don't care about visualization besides the fact whether it renders or not.

I am not sure that dvclive should be opening created HTML. AFAIK `--open` for the `show` was added as a convenience method. Now we start to make users do something, without expli

[2021-11-23 18:22] daavoo commented on #180
WDYT about  adding `open` option to `live` section in `dvc.yaml`, defaulting to `true`? That would give a way for users to opt out.

Somehow related: https://github.com/iterative/dvc/issues/6091

My personal experience was always using `--open` so I might be biased to open by default,  but I agree that it could be considered by some users as too aggressive/breaking change.

[2021-11-23 18:35] pared commented on #180
If we want to make it a default behavior, I would rather consider adding this as DVC option - because it will be an option related to one's workflow rather than particular output. And this is where the problems start - should we introduce a settings option, in DVC, related to dvclive? Sounds bad. But then, if someone wants to turn it off, he/she will have to go through all `dvclive` outputs and ma

[2021-12-01 18:43] dberenbaum opened #195 "`html`: nest inside dvclive dir"
See the complaint in https://discord.com/channels/485586884165107732/485596304961962003/915439735256801352, which more generally complains of too many dvc-related paths, but specifically calls out `dvclive_dvc_plots`. While they can configure the `dvclive` part, they will still have a path like `{dir}_dvc_plots`. It would be nice to nest the plots directory inside `{dir}` and not have to include `

[2021-12-04 15:24] kwon-young opened #196 "bad summary for 2 level deep nested metric"
The `dict.update` method used here: https://github.com/iterative/dvclive/blob/master/dvclive/live.py#L146 fails to correctly aggregate multiple metrics with 2 or more nested level.

I've quickfixed the code with a [stackoverflow answer](https://stackoverflow.com/a/3233356) to update an arbitrarily deep nested dict.
I'll make pull request on monday.

[2021-12-07 18:27] #196 closed

[2021-12-07 18:29] daavoo opened #199 "`catalyst`: Fix tests"
`E   ImportError: cannot import name 'ToTensor' from 'catalyst.data' (/opt/hostedtoolcache/Python/3.7.12/x64/lib/python3.7/site-packages/catalyst/data/__init__.py)`

https://github.com/iterative/dvclive/runs/4447351389?check_suite_focus=true

[2021-12-15 08:33] #199 closed

[2021-12-15 08:34] daavoo opened #201 "`dvc`: Add option to disable automatic open"
Users might want to have html generation without automatically open the browser.

[2021-12-15 17:31] shcheklein commented on #201
Question, what was the initial motivation to make this behavior default? It feels a bit too "intrusive" since it changes my context automatically.

[2021-12-15 17:32] shcheklein commented on #201
And a bit more context, having this option is critical for VS Code. And probably we'll want to have a way to override the default behavior (e.g. env var).

[2021-12-15 18:14] daavoo commented on #201
No strong motivation. We decided to make it default and wait for users asking for an option to opt out.
My personal bias was that if you generate the live HTML it is to look at it during training (otherwise you could just use DVC plots). I was aware it could be a too aggressive default.

I think HTML generation doesn't make sense for users of the VSCode extension (live plots of extension replace i

[2021-12-20 05:58] skshetry opened #202 "Change default branch to `main`?"
We have changed the default branch to `main` in DVC, let's do it here as well? cc @daavoo @pared

[2021-12-20 07:11] pared commented on #202
I'm in, @daavoo WDYT?

[2021-12-20 19:56] daavoo commented on #202
Done

[2021-12-20 19:56] #202 closed

[2022-01-03 15:07] #201 closed

[2022-01-07 01:48] a-orn commented on #170
Hi @daavoo @sirily - I've just been bashing my head against this one and would be happy to implement a solution.

Maybe I've got the idea totally backwards, but I'd like to use DVC to version the checkpoint file and recover state from earlier experiments. So far I have:

**dvc.yaml**
[code]

**train.py**
[code]

I encounter the problem that PL doesn't like overwriting files in the `ckpt` directory

[2022-01-07 03:04] sirily commented on #170
@a-orn afaik `enable_checkpointing` just creates a `ModelCheckpoint` callback with default parameters. If you use `ModelCheckpoint` callback on your own or some custom callback, you don't have to set this flag.
But I can't check it right now, I need a couple of days to return home

If you set a metric to monitor, PL will save only one checkpoint.
Something like this:
[code]

[2022-01-07 03:16] a-orn commented on #170
Thanks, that's good to know. I think it still results in a PL checkpoint named differently to `model.ckpt` in `dvc.yaml`, so it might require a more complex stage than the one I've proposed. I think, elsewhere, you proposed using a foreach stage to checkpoint at regular intervals?

[2022-01-07 03:31] sirily commented on #170
With `filename='checkpoint'` it will be the only one name, wouldn't it? I can't check it right now.

Yep, I think it's the easiest way. If you have in mind something more beautiful, you are welcome to propose it

[2022-01-11 05:51] a-orn commented on #170
I recently discovered the experimental 'Checkpointing IO API' for Pytorch Lightning:

[code]

This is starting to get to the workflow I expected. I call `dvc exp run` and it starts from the last checkpointed epoch until completion or is killed. The checkpoints are overwritten and `dvc.lock` is updated. When I've finished training, I commit the experiment and the checksum of the final checkpoint fi

[2022-01-11 08:43] daavoo commented on #170
Thanks for the code sample @a-orn ! I need to try it.

The pattern is to overwrite the model on each `save` call, like #174 does, and rely on [DVC Chekpoints](https://dvc.org/doc/user-guide/experiment-management/checkpoints) functionality to resume/restart.

Overwritten models are not lost because of DVC checkpoints mechanism so there is no need to store the latest one under `old.ckpt`.

I think t

[2022-01-14 16:18] dberenbaum opened #206 "`log`: Verbose mode"
It would be nice to have a way to see what dvclive is doing instead of having it operate silently, so that stdout/loggers could optionally have info about when dvclive calls are made and what they are logging. This would be especially helpful in debugging.

[2022-01-14 16:44] dberenbaum opened #207 "integrations: Add `live` kwarg to callbacks"
Instead of assuming a new `Live` instance in callbacks, should it allow for `DvcLiveCallback(live=myliveinstance)`? This could better support the workflow mentioned in https://github.com/iterative/dvc.org/issues/2773.

For example:

[code]

[2022-01-14 18:38] #182 closed

[2022-01-16 12:21] sirily commented on #170
@daavoo

I've tried it, but PL doesn't call after_save_checkpoint if there is no checkpoint callback

I think to do things the most dvc-way, we don't even have to use plugin

[code]
with dvc.yaml like this:
[code]
This is the workflow user expects, I guess. `dvc exp run` begins an experiment and resumes it if possible. But we still have to use ModelCheckpoint callback.
I don't see any ways to use

[2022-01-18 18:19] dberenbaum commented on #170
@sirily If I understand you correctly, your solution from the community gems then solves two different issues you have:
1. Unlike other frameworks, PyTorch Lightning logging does not expose hooks to methods like `on_train_batch_end`, making it challenging to save the model in a dvclive integration.
2. Checkpoints in DVC always resume training from the previous checkpoint. There is an ongoing discu

[2022-01-18 18:56] sirily commented on #170
@dberenbaum yes, I expect, that DVC resume an experiment only after fail. If it is interrupted by Ctrl+C or completed, I expect, that DVC start a new experiment (when smth changed of course). And if the experiment was failed, but some parameter has changed, I expect, that DVC start a new experiment either.
With such workflow it will be possible to use simple code from my previous post in this thre

[2022-01-19 19:49] daavoo commented on #207
Not sure what workflow do you refer to 😅

What would be the benefits of that approach? or What are the limitations of the current one?

[2022-01-19 19:57] daavoo commented on #206
Outside of debugging, one potential issue could be in integrations, where dvclive logs could interfere with the ML Framework output (https://github.com/iterative/dvclive/issues/177)

[2022-01-19 20:00] daavoo commented on #195
This has to be solved on DVC side, unless/until https://github.com/iterative/dvc/issues/6944 is implemented

[2022-01-19 20:03] daavoo commented on #195
The problem with the existing DVC integration would be that anything inside `{dvclive.dir}` is tracked equally by DVC

[2022-01-19 20:04] daavoo commented on #76
Closing as stale. Feel free to reopen

[2022-01-19 20:04] #76 closed

[2022-01-19 22:09] dberenbaum commented on #207
It's not high priority, and it's not intending to replace the current approach.

In iterative/dvc.org#2773, it was unclear whether to instantiate the `Live` instance before using the callback.

For example:

[code]

The outputs will be in `dvclive` instead of 'custom_path`, which might be unexpected. If they want to get the expected behavior, they will have to rewrite their code like:

[code]

An

[2022-01-19 22:09] #207 closed

[2022-01-19 22:15] dberenbaum commented on #195
Even `{dir}_plots` seems nicer than `{dir}_dvc_plots`. What do you think?

True. We can transfer or keep discussion here and transfer/open a new issue once there is a decision.

[2022-01-20 20:26] dberenbaum opened #208 "`resume`: doesn't work if summary doesn't exist"
`example.py`:

[code]

[code]

Shouldn't this work (assume `step = 0`) so that users don't have to update code between their initial run and subsequent runs?

[2022-01-21 19:02] #208 closed

[2022-01-25 17:31] dberenbaum commented on #82
To me, this is a generalization of #189, where json outputs are saved at each step for plots. Some questions about how to generalize it:

* Does all of this get saved under `{dvclive_dir}/{step}`? We may want some additional subdir for both this and images, like `{dvclive_dir}/artifacts/{step}` or something to separate it better from the metrics history TSV files.
* Do we need to support plotting

[2022-01-28 10:56] daavoo opened #211 "live: Deprecate summary"
At what point do we make the summary required? It seems it's taking substantial effort to keep working around it being optional.

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/issues/210#issuecomment-1023609030_

[2022-01-28 10:58] daavoo commented on #211
Unless I'm missing something, I can't really think of a strong reason to keep it optional.

[2022-01-28 13:41] pared opened #213 "html generation: make dvclive independent of dvc"
In iterative/dvc#6944 we are considering extracting the rendering outside of DVC.
This issue would go nicely with #163 - because we could let both DVC and dvclive use the same rendering backend, which would make dvclive more functional.

This unravels some problems:
1. Plot is not only some data, but also a configuration
2. DVC has a capability to store the configuration, dvclive does not

In orde

[2022-01-28 16:49] dberenbaum commented on #211
Yeah, it seems to come up frequently. I'd prefer to make it required instead of continuing to add special logic for `summary=False`.

[2022-01-28 17:41] dberenbaum commented on #213
cc @efiop

This seems reasonable and has been discussed in other scenarios, like referencing `dvc.yaml` files in subdirs. I'm not quite sure I understand the syntax as is. How would you determine whether a key under `plots` is a reference to a plot or a config file? Maybe it makes more sense to have each plot be able to define its own config path?

Other options:

* Use some convention, like keep

[2022-01-31 10:58] pared commented on #213
The one I proposed is clunky, I just wanted to share the idea. Having each plot define its own config would definitely be possible .

Another problem that I see with this: how do we handle it in case of standalone `dvclive`? I think there needs to be some standard convention where do we have a config, so that both DVC and standalone `dvclive` can handle that. Worth noting that user might not have

[2022-01-31 12:25] daavoo commented on #82
In #189 I've implemented:

- Scalars -> `Live.log `-> Saves to `dvclive.dir / scalars`
- Images -> `Live.log_image` -> Saves to `dvclive.dir / images`
- Plots -> `Live.log_plot` -> Saves to `dvclive.dir / plots`

[2022-01-31 13:35] dberenbaum commented on #213
Yeah, one advantage of using the current working directory is that it can work the same way with or without DVC. In that case, standalone dvclive run from the same directory will have the same behavior.

[2022-01-31 14:27] daavoo commented on #82
One difference is that, so far in this issue, we have considered logging a separate array to a separate file.

The plots in #189 store multiple arrays in a single file. For example, `fpr` and `tpr` as part of the `roc` plot.

[2022-02-03 12:06] daavoo commented on #91
I'm currently working on what I consider the minimum viable integration between DVCLive and CML

- DVCLive P.R. https://github.com/iterative/dvclive/pull/215
- Integration example https://github.com/iterative/test-dvclive-cml
- Current result https://github.com/iterative/test-dvclive-cml/commit/8460322df5a586d89882367310c1a4d534202c24

The current prototype doesn't depend on DVC (or DVC checkpoint

[2022-02-03 12:17] DavidGOrtega commented on #91
@daavoo I can't follow up the links.

I did a wrapper for python called CMLpy. Basically it exposes all the CML commands.
I just only need to do the installer. We should sync. I'm going to send you an invite

[2022-02-03 12:21] daavoo commented on #91
Updated the permissions

[2022-02-03 14:35] dberenbaum commented on #172
Looking at the docs, this would do a lot to simplify the API.

[2022-02-03 14:36] dberenbaum commented on #172
Also could deprecate by keeping but not documenting the step methods.

[2022-02-03 16:11] dberenbaum commented on #91
@daavoo Could you give me permission, too 🙏 ?

[2022-02-03 18:30] daavoo commented on #91
Done

[2022-02-03 20:49] dberenbaum commented on #91
Looks great! Should `report` be set by config file/environment variable? It seems better to not have to touch the code to toggle this option (similar to `html`).

[2022-02-03 21:08] DavidGOrtega commented on #91
@dberenbaum @daavoo I have invited you to pycml we should invite everyone

[2022-02-04 21:54] dberenbaum commented on #91
What about this? Can dvclive have some built-in CML callback but also allow users to add their own?

[2022-02-09 21:08] dberenbaum commented on #91
@daavoo:

I'd say the important requirements from the dvclive user perspective here are:
1. This should be as close as possible to the same report that gets generated locally in html when running a script with dvclive. Since one is in html and the other in markdown, they can't be identical, but it should seem like the same report whether generated locally or via cml.
2. I like the metrics table, b

[2022-02-09 23:03] DavidGOrtega commented on #91
There are some quirks @dberenbaum the biggest issue is the GH image cache. While redoing the log in every epoch using `send-comment --update` is right now solved and similar to other logging platform

[2022-02-10 12:41] daavoo commented on #91
It makes sense to me to offer flexibility to the users but only with the limited scope of sharing the report at the end of each step.

Given that DVCLive integrations are already a callback in the ML Frameworks, it feels over-complicated to support custom callbacks inside `Live`.

[2022-02-10 14:54] dberenbaum commented on #91
Good point. The problem here and in other issues like #90 and #204 is that users can already add similar callbacks directly in their model training code, so integrations/callbacks only add value if we are using the info specifically captured by DVCLive.

[2022-02-10 16:22] dberenbaum commented on #90
Related to https://github.com/iterative/dvclive/issues/91#issuecomment-1035015144, I think the most useful integration here would be making it dead simple to send full reports (similar to the html today) through supported channels.

For example, the slack api could probably be used generate a message with the metrics and plot images, and similar for email (personally, I would prioritize slack beca

[2022-02-11 13:20] pieceskieran opened #216 "Unable to import dvclive after pip install to conda env (miniforge3/ARM macbook)"
I'm working on an ARM Macbook with Miniforge. I have a Python 3.8 conda environment and can successfully `pip install dvclive` . `conda list` shows that it is successfully installed in the env.
`dvclive                   0.5.1                    pypi_0    pypi`
but

[code]

Additionally `pip install dvclive[tf] `returns `no matches found: dvclive[tf]`

[2022-02-11 13:31] pieceskieran commented on #216
fixed with
[code]

[2022-02-11 13:31] #216 closed

[2022-02-11 18:20] daavoo commented on #90
I think it's useful and immediate added value for DVCLive.

I'm a little "worried" about how easy would be to maintain because Report Providers sounds like integrations potentially growing perpendicular to ML Frameworks.

So far, looking at slack and email APIs, it doesn't look that bad.

[2022-02-11 21:07] shcheklein commented on #211
Just for the context - are we also getting rid of it in DVC (dvc.yaml has that option, right?)?

[2022-02-11 21:11] daavoo commented on #211
The plan is to deprecate the entire `live` section after #213

[2022-02-11 21:14] shcheklein commented on #213
сс @mattseddon JFYI since it might be affecting certain decisions on the VS code end (the whole live section will be deprectated)

[2022-02-11 21:26] dberenbaum commented on #211
Good point, @shcheklein. In the meantime, we can document that `summary: false`/`--live-no-summary` will be ignored in `dvclive>=0.6.0`.

[2022-02-12 12:25] pared commented on #213
@shcheklein I am not sure I understand, why would be `live` section deprecated?

[2022-02-13 21:46] mattseddon commented on #213
@shcheklein @pared as long as the extension has access to the template, the path to the plots data and the plots data is being updated then everything should be ok. We are not currently dependent on dvclive doing anything outside of writing the data. From reading it doesn't sound as if there is going to be a breaking change to `plots diff` but I could be wrong, please LMK.

[2022-02-14 10:23] pared commented on #213
I think that there might be some misconception regarding what this change is about to do.
Currently, `dvclive` has to rely on DVC making the visualizations of the logged metrics. What we intend to do is to extract a library taking care of generating HTML, that would be used by both `dvclive` and `dvc` so that both can work independently of each other. Still, we cannot allow making multiple HTML's

[2022-02-14 11:29] daavoo commented on #213
@pared This is coming from https://www.notion.so/iterative/Deprecate-live-section-of-dvc-yaml-432838600d9f48e99db3e3f92fec111c . The overall idea is that we could start using `metrics` and `plots` sections instead of `live` once DVCLive could generate HTML by itself.

@mattseddon Where are you getting the path from? Does the extension rely on env vars exposed by DVC (i.e. `DVCLIVE_PATH`)?

[2022-02-14 11:50] pared commented on #213
Ah, sorry my bad, that makes sense. I thought we are talking here about the `live` plots that were supposed to be a section in vscode integration - I guess we need a clear separation of concepts we are talking about.

[2022-02-14 13:11] daavoo opened #219 "catalyst: Update integration"
The latest version breaks current integration https://github.com/catalyst-team/catalyst/releases/tag/v22.02

Failure:

https://github.com/iterative/dvclive/runs/5183975198?check_suite_focus=true#step:6:156

[2022-02-14 13:57] daavoo opened #221 "integrations: move callbacks/loggers to frameworks"
@daavoo I think that this is quite a challenge for us to decide.
1. On one hand we don't want to restrict the dependencies, because that could interfere with users workspace, and `dvclive` is probably not that important to force user to install particular version of the DL framework.

2. On the other hand, we need to maintain our project and the wide range of supported frameworks makes it hard to

[2022-02-14 15:08] dberenbaum commented on #213
@daavoo I know deprecating `live` depends on this issue, but do you think we should open a separate issue in https://github.com/iterative/dvc.org? Replacing instances of `live` in the docs is probably all that will be needed to start, right?

[2022-02-16 13:44] dberenbaum commented on #90
@shcheklein mentioned that it might be worthwhile to look into RSS feed aggregators. There are some parallels in how RSS expects a particular schema of elements (https://validator.w3.org/feed/docs/rss2.html) and can publish them in a consistent format, so maybe it can give some ideas for how to implement.

[2022-02-16 14:44] dberenbaum opened #222 "`html`: Add metrics table to the report"
It would be useful to add a table of metrics to the top of the HTML, like in https://github.com/iterative/dvclive/pull/215

[2022-02-16 14:44] dberenbaum opened #228 "`html`: Add metrics table to the report"
It would be useful to add a table of metrics to the top of the HTML, like in https://github.com/iterative/dvclive/pull/215

[2022-02-22 21:23] pared opened #223 "1.0 checklist"
- [x] #225
- [x] #272
- [x] #246
- [x] #273
- [x] #326
- [x] #332
- [x] #231
- [x] #323
- [x] #340
- [x] https://github.com/iterative/dvclive/issues/238
- [x] Context manager https://github.com/iterative/dvclive/pull/354
- [x] #172
- [x] #103

Nice to have: https://github.com/iterative/dvclive/issues/223#issuecomment-1285109650

[2022-03-01 18:39] #211 closed

[2022-03-03 11:42] daavoo opened #224 "`log_image`: Support logging `matplotlib` figures."
`log_image` currently supports `numpy` and `PIL` as inputs. It would be nice to also support `matplotlib` figures

[2022-03-03 11:44] daavoo opened #225 "`dvc`: Deprecation of `live` section."
## Motivation

Having a separate section named `live` can create confusion when introducing DVCLive to users already familiar with `metrics` and `plots`.

Apart from tracking the `metrics` and `plots` generated by DVCLive, the live section is used internally to potentially configure DVCLive (i.e. `summary` ) and generate an HTML report.

The configuration of the `Live` Python object through `dvc.y

[2022-03-03 11:51] daavoo commented on #163
Closing in favor of #213

[2022-03-03 11:51] #163 closed

[2022-03-07 11:57] daavoo opened #226 "integrations: Add supoort for Reinforcement Learning"
Reinforcement learning algorithms also use the concept of `steps` or iterations so the support could be similar to the existing integrations with Deep Learning frameworks.

There are a lot of libraries out there, the one gaining more popularity recently appears to be:

[stable-baselines3](https://github.com/DLR-RM/stable-baselines3)

Which support different loggers: https://github.com/DLR-RM/stabl

[2022-03-08 10:21] daavoo commented on #61
Revisiting this.

Now that we are moving towards depending on [dvc-render](https://github.com/iterative/dvc-render), I'm assuming it makes more sense to implement these different plotting options on `dvc-render` side, right?

Would this be covered by #206 ?

[2022-03-08 14:43] dberenbaum commented on #61
Once dvclive can generate plots without dvc, we can close this issue.

[2022-03-30 19:09] daavoo opened #229 "Replace usages of `live` with `plots` and `metrics` [docs]"
Due to https://github.com/iterative/dvclive/issues/225

[2022-04-01 09:59] daavoo opened #230 "Need to pass output path in Python API (before it was optionally parsed from `live` section) [docs]"
And `live` section is how gone, see https://github.com/iterative/dvclive/issues/229.

[2022-04-01 12:14] dberenbaum opened #231 "`report`: how to make report in no-step scenarios"
Not sure if it should be part of this PR, but currently, I can use the `live` section in `dvc.yaml` to get a report even in no-step scenarios, but it doesn't seem like it's possible without the `live` section. Is there some way to still generate the report by default?

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/pull/227#discussion_r839895032_

[2022-04-01 12:15] dberenbaum commented on #231
When using the `live` section in no-step scenario, the report gets generated by the monitor task after the stage has ended.
Any implementation on DVCLive side would behave differently, as the `Live` object doesn't have info of when the "stage" has ended (the closest would be to implement the logic in `__del__`) .
IMO would be better to document `Live.make_report()` and emphasize it's usage for non

[2022-04-01 12:33] dberenbaum commented on #231
It seems clunky to me to have the report generated automatically in step scenarios but not in no-step scenarios.

Possible ways to make the experiences consistent:

1. Never auto-generate reports and require users to call `Live.make_report()` after every `Live.next_step()` call. This fits with the explicit canonical workflow emphasized in #156, but it's starting to get to be a lot of methods that

[2022-04-01 15:45] casperdcl opened #232 "next_step() needs log()"
[code]

- current: `dvclive.json` is stuck on `step: 0` if we remove the `live.log()` command.
- expected: `step: 10` even without `live.log()`

Related: https://github.com/iterative/cml.dev/issues/207

[2022-04-01 16:52] #213 closed

[2022-04-01 19:13] Omegaice opened #233 "Option to disable timestamps for scalar output"
Currently scalar values have timestamps associated with each step that is written to the csv file. It would be nice to be able to disable this for cases where the files are stored within source control as timestamps are always going to be different, even if the step and values are the same.

[2022-04-04 04:13] Benjamin-Etheredge opened #234 "Pytorch lightning 1.6.0 introduces breaking changes to DvcLiveLogger"
Pytorch lightning 1.6.0 introduces breaking changes to DvcLiveLogger.
The main change I see is the removal of `_add_prefix` method from the base logger. It is now a utility.

[2022-04-04 05:33] Benjamin-Etheredge commented on #234
I noticed that `setup.py` does say `pl = ["pytorch_lightning<1.6"]`, but pip (or at least pip-compile) is ignoring that version restriction even with `dvclive[pytorch_lightning]` specified. Maybe the fact that it's an extra package is messing with stuff. But I know `dvc[s3]` will enforce its required versions as I've had conflicts with that before. So maybe the extra package version requirement is

[2022-04-04 07:20] daavoo commented on #234
The issue is that the change was not released, so the package in `pypi` does not contain that info.

[2022-04-04 07:43] daavoo commented on #234
Released `0.6.1` with that change:

[code]

[2022-04-04 08:10] daavoo commented on #232
The `step` is being correctly updated internally (even if you remove the `log` call, the while loop breaks) but the updates are not being dumped to the summary file `dvclie.json`. This is because we moved the summary updates to `log` calls (https://github.com/iterative/dvclive/issues/145).

Not sure what to do here. The summary is intended to track _logged_ scalars and we just include `step` for c

[2022-04-04 08:16] casperdcl commented on #232
Seems odd to do this. if there are multiple things to log per iteration, you dump multiple times?

- Seems better to dump only on `next_step()`
- Could also make configurable default `log(..., force_write=False)`
- Could make `next_step()` internally use `log("step", ..., force_write=True)`

[2022-04-04 14:44] dberenbaum commented on #232
@casperdcl Why do you want to use `next_step()` without `log()`? I don't see a problem doing so, but I'm confused how it's useful.

[2022-04-04 19:24] casperdcl commented on #90
So it's about tidying up this sort of thing? <img height=16px src="https://img.tqdm.ml/logo.gif" />

[code]

i.e. providing a callback interface?

[code]

[2022-04-05 09:31] daavoo commented on #231
I would like to go with `1`.

I think that the main DVCLive use case would be based on integrations for step scenarios. In that use case, we will still be creating the report "automatically" by calling `make_report` at the end of each epoch.

For scenarios where users need to manually call the API, my personal preference is to have explicit methods, each one doing a single thing.

We would have 3

[2022-04-06 00:25] casperdcl commented on #232
Full context is `step` is the only thing that is required in order to resume interrupted training (notice the example above uses `get_step()`) - we don't need to log `loss` nor any other metrics.

[2022-04-06 09:28] MarkoMFilip opened #237 "integrations: Add DVC Live integration to Ray Tune"
Similar to how Ray provides integration for other loggers within [Ray Tune](https://docs.ray.io/en/latest/tune/index.html) it would be good if DVC Live could have its own integration. Concretely, in its documentation for integration of [ML Flow with Ray Tune](https://docs.ray.io/en/latest/tune/tutorials/tune-mlflow.html#), Ray gives examples of how it created two specific functions to help people

[2022-04-06 14:23] dberenbaum opened #238 "`log`: optimize dumping to files"
Seems odd to do this. If there are multiple things to log per iteration, you dump multiple times?

- Seems better to dump only on `next_step()`
- Could also make configurable default `log(..., write_summary=False)`
- Could make `next_step()` internally use `log("step", ..., write_summary=True)`

I don't quite follow the wording in #145 but from what I can tell it seems identical to this issue (#23

[2022-04-06 14:24] dberenbaum commented on #232
We probably need to decouple `log()` from setting the step to resolve this issue.

@casperdcl I moved the optimization to #238.

Both are good points that are largely due to changes in the codebase over time and should probably be changed now AFAIK.

[2022-04-06 17:53] dberenbaum opened #239 "`step`: reset after each step"
Values from previous steps are kept in the following steps. Take the following example:

[code]

Output from this script is:

[code]

Expected output:

[code]

Looks like `set_step()` should call some method to reset the scalars, images, and plots to empty dicts.

Although this scenario looks artificial, if a script is killed in the middle of logging a step's values, it's important that the summar

[2022-04-06 18:24] dberenbaum commented on #239
Looks like there was some related discussion in https://github.com/iterative/dvclive/pull/157#discussion_r706244029, but I find the behavior suggested in this issue to be more straightforward and expected. In fact, `set_step()` should probably delete not only the internal dicts but also the latest summary file to ensure that the summary reflects the latest state.

[2022-04-06 18:34] dberenbaum commented on #232
Actually, I think we just need to call `make_summary()` always during `set_step()` (ignoring #238).

[2022-04-07 17:46] daavoo commented on #66
Conversions from TensorBoard and MLFlow https://aimstack.readthedocs.io/en/latest/quick_start/convert_data.html

[2022-04-07 17:47] daavoo commented on #66
Conversions from TensorBoard and MLFlow https://aimstack.readthedocs.io/en/latest/quick_start/convert_data.html

[2022-04-13 13:59] dberenbaum opened #241 "`auto_open`: how to handle it"
During discussion with @mattseddon, it came up that changing `auto_open` default to `True` broke the VS Code extension. This has since been reverted in #240, but there are still questions about how to prevent this behavior and when to automatically open the report.

Some issues with `auto_open` behavior:
* How do we ensure this doesn't happen again in VS Code or in other scenarios like CI where it

[2022-04-14 16:09] daavoo commented on #241
Unless I am missing something, we already test that:

https://github.com/iterative/dvclive/blob/0aba0c9a28c76e4aa6a21525c552f1791c673dce/tests/test_report.py#L62-L68

[2022-04-15 11:17] pared commented on #241
Sorry @daavoo, my bad.

[2022-04-18 19:28] dberenbaum opened #242 "`html`: How to track/ignore it in DVC"
After https://github.com/iterative/dvc.org/pull/3411, the easiest way to track plots in `dvc.yaml` is:

[code]

However, this will track `dvclive/report.html`, which is generally not desired. Some options to handle this better:

* Automatically add `dvclive/report.html` to `.dvcignore` (should we check for the presence of DVC or just add it anyway?).
* Move `report.html` outside of the `dvclive` d

[2022-04-18 19:40] dberenbaum commented on #242
One more option would be to always suggest using `cache: false` for plots and capturing all dvclive outputs in git instead of dvc.

[2022-04-19 00:25] mattseddon commented on #241
@daavoo you do assert that but there is nothing stopping you from changing that assert. I.e nothing to say that the VS Code extension is dependent on that behaviour. Maybe it would actually be safer to add an environment variable if this behaviour is going to be kept. WDYT?

[2022-04-19 08:38] daavoo commented on #242
I won't really like to add DVC-specific logic.

Not sure if it's a good idea. General feedback is that DVC/DVCLive already generates too many files at the root of the repo.

I might be missing something but it would be just wasted storage.

---

What if we encourage through docs to use set outputs for each data subfolder?

This way the report won't be tracked by DVC and allows for more flexibility

[2022-04-19 21:58] pared commented on #241
Well, adding env variable is good too, but the fact that we change the test to make it pass should raise a red flag. I am good with both approaches.

[2022-04-20 09:40] #195 closed

[2022-04-20 10:21] daavoo commented on #241
Implemented as env var in  #243 and removed the arg from `Live`. I think it makes more sense as this is an environment-dependent feature and only applicable to `html` report

[2022-04-21 01:05] mattseddon commented on #241
Will this change ship with the next version of `DVCLive` and then ship with `DVC 2.10.2` as the minimum required version?

[2022-04-21 20:12] dberenbaum commented on #242
I think this makes sense for now. It feels a little burdensome to have to add all this to get dvclive outputs tracked properly, but at least it's explicit and flexible.

[2022-04-25 19:17] daavoo commented on #64
Closing this in favor of https://github.com/iterative/dvclive/issues/206 .

About the original request for progress bars, progress bar responsibility lies more on the ML than on DVCLive (the logger)

[2022-04-25 19:17] #64 closed

[2022-04-26 18:32] #241 closed

[2022-04-26 20:29] daavoo commented on #140
Relevant for https://github.com/iterative/terraform-provider-iterative use case

[2022-04-27 12:52] daavoo opened #245 "`live`: Hint about `DVCLIVE_OPEN` env var"
@daavoo What do you think about this idea?

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/pull/243#discussion_r859756930_

[2022-04-28 07:44] daavoo opened #246 "live: Revisit output names"
can we rename it? is it a default name? it's a bit confusing to have `dvclive` dir, `dvclive/scalars` which are actually plots and `dvclive.json` that is actually scalars ... how can we improve this naming? cc @dberenbaum @daavoo wdyt?

_Originally posted by @shcheklein in https://github.com/iterative/vscode-dvc/pull/1618#discussion_r859418877_

[2022-04-29 07:10] daavoo opened #248 "`set_step(None)` generates additional checkpoint"
I think having this here also leads to the old "experiment is logged with the last epoch number" error

<img width="592" alt="image" src="https://user-images.githubusercontent.com/37993418/165873525-c13a44c1-982f-4baf-a3d6-74b870413d3f.png">

<img width="1002" alt="image" src="https://user-images.githubusercontent.com/37993418/165873573-6cffc454-14c6-424e-a3f1-d93ee17cbf88.png">

_Originally poste

[2022-04-29 09:05] dtrifiro opened #249 "conda package"
Conda package for `dvclive` is missing.

As a sideffect, this is breaking dvc conda builds for 2.10.2

https://github.com/iterative/dvc/issues/7662

[2022-04-30 17:39] jorgeorpinel commented on #229
OK but why? 🙂

[2022-04-30 18:01] jorgeorpinel commented on #77
Sounds like since [the `live` section is being removed in favor of DVC metrics and plots](https://github.com/iterative/dvclive/issues/229) this is no longer relevant? Cc @daavoo if you could explain/close that would be great, thanks!

[2022-04-30 19:49] #249 closed

[2022-04-30 19:50] daavoo commented on #77
Indeed. I was waiting to close this once the docs are merged

[2022-04-30 19:52] daavoo commented on #229
https://github.com/iterative/dvclive/issues/225

[2022-05-01 20:56] jorgeorpinel commented on #77
OK I see it's linked so yeah it will get closed. But for clarity maybe you want to explicitly answer here on how things are now relating to granular caching of logs?

[2022-05-02 19:50] dberenbaum commented on #246
Related conversation: https://github.com/iterative/dvc.org/pull/3147#discussion_r789079337

[2022-05-04 16:07] dberenbaum commented on #91
I mentioned this to @0x2b3bfa0, but I wanted to post it in the issue to get more feedback. Happy to open an issue in CML, but wanted to discuss here first.

[2022-05-06 13:41] 0x2b3bfa0 commented on #91
I think he doesn't quite mean that. GitHub caches images; updating them implies replacing the link by a different one.

[2022-05-06 14:53] 0x2b3bfa0 commented on #91
Sounds interesting, but would require users to run something in the background 🤔

[2022-05-06 14:53] 0x2b3bfa0 commented on #91
![1598352521_128552_1598354440_sumario_normal](https://user-images.githubusercontent.com/11387611/167158062-0ab98513-cdca-46dd-a1a8-2331eeb1f749.jpg)

[2022-05-06 19:54] daavoo opened #252 "`summary`: Add newline at the end of file"
https://github.com/iterative/vscode-dvc/pull/1673#discussion_r866510987

[2022-05-07 08:48] casperdcl commented on #91
Ah. That's yet another use case. Trying to keep track of ideas:

1. report per-epoch metrics
2. publish per-epoch plots
3. auto-parse, publish & substitute local markdown links (is that a common use case?)

or is there something else?

[2022-05-09 14:05] dberenbaum commented on #91
I see it all as one use case: publish per-epoch reports (see #90). The typical DVCLive report includes metrics and plots, and it would be great to publish the entire report as a CML comment.

To achieve CML integration, DVCLive can either call CML directly, or it can generate a markdown report that can be useful anywhere (locally, in CML, and possibly for publishing elsewhere). If DVCLive goes wit

[2022-05-10 10:15] #206 closed

[2022-05-11 15:45] dberenbaum commented on #91
See also https://github.com/iterative/example-repos-dev/blob/a58b1220ef76c5b498929b2c017aa7a9e61eaa3c/example-get-started/code/.github/workflows/cml.yaml:

[code]

It would be great if DVC and/or DVCLive can provide utilities to more simply generate the content, and have CML take care of making all the content available in a comment. It might look something like:

[code]

Even better would be if s

[2022-05-12 18:02] #77 closed

[2022-05-12 18:02] #229 closed

[2022-05-12 18:02] #230 closed

[2022-05-12 18:05] #225 closed

[2022-05-15 01:52] bobertlo opened #253 "`live`: <class 'bumpy.float32'> rejected; `Keras` breaks if `lr` included metric in callback"
The Keras callback works really well, but as soon as I started using the ReduceLROnPlateau, the learning rate gets added to the metrics, and this crashes the program and prevents my model from training.

[code]

I found that if I added:

[code]

to live.py right before:

https://github.com/iterative/dvclive/blob/9602d7fcbbf8e7224c591faece95d43aae89234b/dvclive/live.py#L141-L142

this was solved, b

[2022-05-15 08:10] daavoo commented on #253
Thanks for the report @bobertlo . #254 should fix this

[2022-05-15 08:13] daavoo opened #255 "`keras`: Include `learning_rate` scalar."
The [TensorBoard callback](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard) collects and stores learning rate:

https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/callbacks.py#L2527-L2531

[2022-05-15 10:01] bobertlo commented on #253
Thank you!

[2022-05-27 20:53] 0x2b3bfa0 commented on #91
See also https://github.com/iterative/cml/pull/1026

[2022-06-06 18:31] Chichilele opened #257 "license issue with liccheck"
liccheck doesn't seem to recognise the license
[code]

[2022-06-06 18:51] daavoo commented on #257
Thanks for bringing this up.

LICENSE is here https://github.com/iterative/dvclive/blob/main/LICENSE but we were not indicating the license type in `setup.py`

[2022-06-06 20:06] #257 closed

[2022-06-07 11:36] Chichilele commented on #257
Any idea when you'll release this?

[2022-06-10 13:43] casperdcl commented on #140
also related: https://github.com/iterative/example-repos-dev/issues/83#issuecomment-1128824098

[2022-06-23 18:25] alex000kim opened #262 "`xgboost` import not working"
As per https://dvc.org/doc/dvclive/ml-frameworks/xgboost, I am trying to do this import `from dvclive.xgboost import DvcLiveCallback`, but I get the following:
[code]

[2022-06-23 18:26] alex000kim commented on #262
It looks like `from dvclive.xgb import DvcLiveCallback` is working.
Is this a matter of simply updating the docs?

[2022-06-27 16:46] #262 closed

[2022-07-01 08:59] casperdcl commented on #91
Just to confirm:

- #90 (user callback for `cml send-comment --update`)
- #215 (DVCLive calls `cml send-comment --update`)

are not needed. Instead, the proposal https://github.com/iterative/cml/issues/1036 is

- DVCLive option to write markdown (instead of html)

[code]

@daavoo can you add this option to DVCLive? Note that `report.md` can contain local images `![](./image.png)` - CML will automa

[2022-07-01 11:01] daavoo commented on #91
Will do. Have to work on some pre-requisites https://github.com/iterative/dvc-render/issues/62

[2022-07-04 14:39] sukhovvl opened #263 "dvclive outputs paths"
After updating `dvc` package to the version 2.11.0 I noticed that `dvclive` outputs paths were changed, e.g. `dvclive/scalars/loss.tsv` is now `dvclive/scalars/train/loss.tsv`. I am working with the `dvclive.keras` framework but the change probably affected other frameworks as well.

I would suggest to reflect this breaking change in the documentation [here](https://dvc.org/doc/dvclive/dvclive-wit

[2022-07-04 15:18] daavoo commented on #263
Hi @sukhovvl , sorry for the inconvenience. This was introduced in `0.9.0` and reflected in the release notes https://github.com/iterative/dvclive/releases/tag/0.9.0

I will update each framework page to reflect this structure better.

How did this change affect you? Were you tracking individual files under `dvclive/scalars`?

You can manually pin `dvclive` in your dependencies to use `<0.9.0` as

[2022-07-06 11:27] #263 closed

[2022-07-06 11:27] daavoo opened #265 "catalyst: Apply log standardization"
😓 Catalyst uses `valid` instead of `eval` so I actually forgot to include it in the standardization

_Originally posted by @daavoo in https://github.com/iterative/dvc.org/pull/3726#discussion_r914724169_

[2022-07-07 13:09] rick-van-veen opened #267 "DvcliveLoggerHook `by_epoch` not working"
I added the following configuration to my mmcv, mmdet training config.

[code]

I would expect this to log the metrics per epoch. However they are logged per iteration. I tried multiple (three) mmdet models and the behavior is the same for all.

<details><summary> Possibly relevant part of the log file </summary>

[code]

</details>

[2022-07-08 17:41] dberenbaum opened #268 "`make_report`: how to handle manually written files"
In https://github.com/iterative/example-repos-dev/pull/117, inserting a `live.make_report()` call will fail because there is a manually written `precision_recall.json` file in the live dir:

[code]

I think this can be resolved by renaming the file to `prc.json` or the top-level JSON key to `precision_recall`, but dvclive should probably handle this kind of error more gracefully. Maybe it can skip

[2022-07-12 10:36] daavoo commented on #267
Hi @rick-van-veen ! I took a look into this and appears to not be related to DVCLive.

The problem is that the `by_epoch` flag doesn't mean what you expect (introduced in https://github.com/open-mmlab/mmcv/pull/346), it doesn't affect when `log` is called in MMCV but how the `iter` number is retrieved.

It would be better to open an issue in https://github.com/open-mmlab/mmcv asking how to only lo

[2022-07-18 05:57] rick-van-veen commented on #267
I created an issue in the `mmcv` repository and I am not entirely sure, but it seems the `by_epoch` argument does do what I would expect it to do in the `TextLogger` and that we can infer from that it is up to the logger what to do with the `by_epoch` bahaviour (also because they do not intent to implement it in `mmcv` (https://github.com/open-mmlab/mmcv/issues/2116#issuecomment-1186215776)?

[2022-07-21 15:55] daavoo commented on #267
I see. I will open a P.R. in mmcv handling `by_epoch`

[2022-07-21 19:14] #91 closed

[2022-07-26 08:46] daavoo commented on #68
Closing as not planned

[2022-07-26 08:46] #68 closed

[2022-07-26 08:48] daavoo commented on #81
I think this feature makes more sense to be implemented with a wider scope as part of DVC pipelines

[2022-07-26 08:50] #19 closed

[2022-07-26 08:52] #228 closed

[2022-08-10 10:58] gcaria opened #271 "log_plot(): add custom line plot"
During my evaluation stage, I plot a simple line plot where the x values are predefined, and the y values are calculated from truth and predicted values, and are informative of the model performance.

I'd love to see how the line plot changes from experiment to experiment, which means that I'd like to use `log_plot` for doing this.

Would it be possible to implement such a feature? It seems to me

[2022-08-11 12:09] dberenbaum commented on #271
Could you clarify more what kind of plot you would like or give an example?

[2022-08-11 13:56] gcaria commented on #271
Although I have a specific line plot in mind, I've tried to be as generic as possible because this is not really relevant for what I'm proposing.

In simple terms, the user would just need to specify two arrays (in a json file I guess), one for the x and one for the y coordinates of the points in a line plot (in my specific case the x values would always be the same, but they could change too, I d

[2022-08-11 14:42] daavoo commented on #271
We would need to change the current API of `log_plot` a little bit.

We currently use `name` (first arg) to select the plot template to use (https://dvc.org/doc/dvclive/api-reference/live/log_plot#supported-plots):

[code]
`calibration` above indicates both the name of the output plot and the template to use.

If we add support to this, I assume that it would make sense to support arbitrary names.

[2022-08-11 15:29] gcaria commented on #271
My two cents on the API, admitting that I haven't seen the DVC code yet, but just to give a suggestion on how to minimize the changes, more importantly the breaking ones:

how about just adding a new `name` option, which would be `linear` and then simply adding an optional `title` argument, which when provided simply sets the title of the plot/figure (and that would apply to all existing templates

[2022-08-15 13:36] skshetry opened #272 "Sync with py-template?"
This project happened before py-template, but would it be possible to structure it like how we do in `py-template` and make workflow simpler?

[2022-08-17 08:14] daavoo commented on #272
Thanks! It's a good idea

[2022-08-17 08:17] daavoo opened #273 "Revisit docs organization and content"
Should focus on answering and providing examples, as clear and soon as possible, for:

- How to make it work with `DVC`.
- How to make it work with `{X}` ML Framework.
- How to log `scalars`, `images` and `plots`.

Current `Get Started` focus too much on API overview, whereas most common use case would be to use an ML framework integration + DVC.

[2022-08-26 15:37] dberenbaum opened #277 "dvcignore html/markdown output"
Can we automatically add a `.dvcignore` in the live dir when html/markdown output is generated? I don't think anyone wants to track these with DVC, and they break patterns like making the whole dir a plots output.

[2022-09-01 08:28] skshetry opened #279 "remove donate badge from readme?"
DVC removed the donate badge. See https://github.com/iterative/dvc/pull/7862.

Let's remove this from here as well.

[2022-09-01 08:42] #279 closed

[2022-09-05 18:19] daavoo opened #283 "Complete examples for ML frameworks"
The current ML Framework docs are more like an API Reference: https://dvc.org/doc/dvclive/ml-frameworks

Try to set up more interesting examples for users to try out of the box

[2022-09-05 18:40] daavoo opened #284 "`live.log` breaks if `name` contains `.`"
For example: `live.log("val_recall (IoU=0.50:0.95,area=all,maxDets=100", 1)` logged in object detection task in https://github.com/Lightning-AI/lightning-flash .

The usage of `.with_suffix`:

https://github.com/iterative/dvclive/blob/ca3dc22f1e6fb9648360ed10e47e859201c6c260/dvclive/data/scalar.py#L30

Is not behaving as expected causing the file to be saved with the wrong name and subsequent rend

[2022-09-07 09:10] avKostanov opened #287 "Fix DeprecationWarning in lightning logger"
To reproduce
[code]

Run
[code]

[2022-09-07 19:40] jorgeorpinel commented on #273
This is confirmed by current analytics (see https://github.com/iterative/dvc.org/pull/3923#issuecomment-1239774786).

[2022-09-09 00:15] dberenbaum commented on #246
My take:

* `scalars` seems too technical to me. Can we rename to `trends` to align with VS Code and Studio?
* `dvclive.json` we can probably rename to `metrics.json`. We have also discussed moving it inside `dvclive/metrics.json`, which I think makes sense although I think there are a few technical hurdles to overcome for how to track everything inside `dvclive`.

[2022-09-09 08:06] daavoo commented on #246
It sounds appealing. However, `trends` in VSCode are based on DVC checkpoints, and in Studio are based on commits.
The `.tsv` files we would be saving in `plots/trends` are actually being currently shown as `Data Series` in VScode and as `Plots` in Studio.

Moving `dvclive.json` to `dvclive/metrics.json` + creating a `plots` folder sounds good.

[2022-09-09 15:33] dberenbaum commented on #246
Okay, maybe we can hold off on `trends` for now or think of another name.

[2022-09-14 11:58] #287 closed

[2022-09-24 19:17] shcheklein opened #300 "Make checkpoints part of the logger setup?"
An idea (that probably has been discussed a lot already), just want to come back to it, since it bothers me that I can't migrate fully / easy to the DVC logger from the Keras (other frameworks?):

Here is the piece of code:

[code]

Can we make `DvcLiveCallback` handle checkpoints (and accept the same set of params, e.g. track the best model only, etc)? It would simplify the migration a lot.

At t

[2022-09-26 09:17] #171 closed

[2022-09-26 09:18] #289 closed

[2022-09-26 09:19] #100 closed

[2022-09-26 09:20] #61 closed

[2022-09-26 09:22] #141 closed

[2022-09-26 09:22] #5 closed, assigned to dberenbaum

[2022-09-26 15:45] daavoo commented on #268
I cut corners based on the assumption that DVCLive would be the one logging plots so we would control the format.

I am not sure about enabling people to manually put files inside the output folder. If we want to allow it, we need to replicate the parsing used in DVC (https://github.com/iterative/dvc/blob/main/dvc/render/converter/vega.py#L62) which allows for arbitrary top-level keys in JSON.

[2022-09-26 16:20] dberenbaum commented on #268
Putting as p2 for now. Feel free to follow up if you disagree.

[2022-09-26 19:18] dberenbaum opened #305 "`log_model`"
Use [MLEM](https://mlem.ai/) to save models. Should also enable these to be automatically tracked with DVC. This is important to be able to save models in DVCLive across frameworks in a consistent way, and to enable experimentation from within Python/DVCLive without separate steps outside of DVCLive. Should be prioritized after we have a basic DVCLive-only workflow for parameters/metrics/plots.

[2022-09-26 19:25] dberenbaum commented on #300
Related: https://github.com/iterative/dvclive/issues/89.

@shcheklein Are you encountering an issue when using both `tf.keras.callbacks.ModelCheckpoint` and `DvcLiveCallback`? Or you want to avoid needing `tf.keras.callbacks.ModelCheckpoint`?

[2022-09-26 20:23] dberenbaum commented on #246
How about `metrics`, so that it looks like:

[code]

[2022-09-27 15:48] dberenbaum opened #309 "`report`: render inline in ipython"
Render the report inline within a notebook instead of in a separate HTML/mardown document. Should be prioritized after we have a basic DVCLive-only workflow for parameters/metrics/plots.

[2022-09-27 16:15] dberenbaum commented on #305
Should this also create a `.dvc` file to track the model output? In a DVC pipeline, it would be necessary to either ignore this step or find some alternate integration to make it easy to track it as a stage output.

[2022-09-27 16:35] dberenbaum opened #310 "Save results as DVC experiment"
Depends on https://github.com/iterative/dvc/issues/6746.

If DVC is installed, DVCLive should be able to create an experiment ref. This should be possible by either:
1. Making `Live` a context manager invoked by `with dvclive.Live() as live:`.
2. Adding a `Live.end` method.

For the first iteration, having one or the other of these approaches is fine, but ultimately we might want both.

[2022-09-27 16:42] dberenbaum commented on #310
Before creating the experiment ref, DVCLive should write to a `dvc.yaml` file inside the `Live` directory, which should configure parameters, metrics, and plots logged by DVCLive. This could happen either during logging or at the end before creating the experiment ref. Depends on https://github.com/iterative/dvc/issues/8371.

If DVCLive is run inside of a DVC pipeline, can we detect and skip all o

[2022-09-27 16:43] dberenbaum opened #311 "Configure DVC experiment from DVCLive"
Follow up to #310

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/issues/310#issuecomment-1259774535_

[2022-09-27 16:49] dberenbaum opened #312 "Cache plots, models, etc."
When inside a DVC repo, DVCLive should be able to automatically cache large outputs like plots and models without asking users to configure them in pipeline stage outputs.

[2022-09-27 17:54] daavoo commented on #309
This probably belongs in https://github.com/iterative/dvc-render , but I am ok with tracking it here

[2022-09-27 18:14] dberenbaum commented on #309
Do we need an issue in both? In dvc-remder to add something like `render_ipython` and here to add support in DVCLive?

[2022-09-28 10:10] daavoo commented on #221
We should get rid of integrations and transfer to the framework itself when possible. As mentioned in the first point of #223

[2022-09-28 10:45] daavoo commented on #221
Originally Posted by @pared

[2022-09-28 13:12] #219 closed

[2022-09-28 21:20] dberenbaum opened #315 "`log_param`: params should be shown in report"
Not sure if this belongs here or in https://github.com/iterative/dvc-render/, but all the values from `{Live.dir}/params.yaml` should also be shown in the metrics report.

[2022-09-29 10:25] daavoo commented on #315
Both

[2022-09-29 15:45] daavoo commented on #315
I was mistaken. Forgot that I already added the TableRenderer for metrics. It should be possible to reuse here for displaying parameters:

https://github.com/iterative/dvclive/blob/a4ca09e5b4061015a3f8af6dff83e393efe646c3/src/dvclive/report.py#L72-L74

[2022-09-29 15:48] dberenbaum commented on #305
Also, this should be integrated into callbacks so that it's easy to save models automatically. Related: #300.

[2022-09-30 10:24] aguschin commented on #305
a related issue
- https://github.com/iterative/mlem/issues/2

[2022-09-30 11:12] daavoo commented on #305
Unless we expand the scope, I believe we don't really need a `log_model` method but just add `mlem.api.save` calls in the integrations

[2022-09-30 15:49] dberenbaum commented on #305
Good point, let's discuss there since you both already covered most of what's here and more.

[2022-10-01 17:48] shcheklein opened #317 "`log_param`: check integrations and update them log params"
E.g. in the Lighting logger there is call:

[code]

should we utilize it to automatically track things?

[2022-10-03 09:24] daavoo commented on #317
Yes, we should use `log_params` there

[2022-10-03 14:18] daavoo commented on #317
Examples of logging parameters in other frameworks:

- [fast.ai](fast.ai)
- [huggingface](https://github.com/huggingface/transformers/blob/bc21aaca789f1a366c05e8b5e111632944886393/src/transformers/integrations.py#L1189)

[2022-10-03 19:42] dberenbaum commented on #317
I would suggest we prioritize at the same time as #305 since it's part of the same story (auto logging everything from the framework callbacks).

[2022-10-04 17:22] #315 closed

[2022-10-05 14:52] daavoo commented on #242
Would https://github.com/iterative/dvclive/pull/322 close this? Given that plots will be isolated in it's own folder, the following won't track the report:

[code]

[2022-10-05 14:53] daavoo commented on #277
Closing as duplicated of https://github.com/iterative/dvclive/issues/242

[2022-10-05 14:53] #277 closed

[2022-10-05 15:53] dberenbaum commented on #242
If we are writing `dvc.yaml` from dvclive, is there any downside to adding the report file to dvcignore?

[2022-10-07 16:09] dberenbaum opened #323 "log_plot: custom filename and/or title for sklearn plots"
See https://github.com/iterative/example-repos-dev/blob/b8a8f0af39b88c735af0b8065c37b609242b53ed/example-get-started/code/src/evaluate.py#L61. I have to keep two separate live instances to be able to log sklearn plots for both train and test data because there's no way to create multiple confusion matrix (or any other type) plots in the same instance.

[2022-10-07 16:11] dberenbaum commented on #224
This would be nice to add in https://github.com/iterative/example-repos-dev/blob/cfa4ca4d4097cab26b2921026dfb3a41c70fadaf/example-get-started/code/src/evaluate.py#L72

[2022-10-07 16:38] dberenbaum commented on #271
Related: https://github.com/iterative/dvclive/pull/322#discussion_r990268395.

Based on that discussion, it probably makes more sense to introduce a separate method here like `log_custom_plot` since the current one is so sklearn-focused. The arguments can mostly follow the [available configuration fields](https://dvc.org/doc/user-guide/project-structure/dvcyaml-files#available-configuration-fields

[2022-10-07 18:02] daavoo commented on #271
An additional argument towards a separate command is that,  in the current sklearn plots, the inputs don't match what gets saved in the plot: (y_true, y_pred) gets transformed to some (x, y) depending on each plot.

[2022-10-10 06:37] aguschin commented on #305
If we're going to call `mlem.api.save` under the hood in the DVCLive, then I assume yes. @daavoo, do you have a vision how the integration should look like for the user?

[2022-10-10 10:19] daavoo commented on #305
I was thinking something as simple as `if mlem is not None: `mlem.api.save` if not installed, use "native" ML framework model saving as we currently do

[2022-10-10 15:09] aguschin commented on #305
@daavoo, the code you mention should be executed inside `DvcLiveCallback()`, am I correct?

[2022-10-10 15:20] daavoo commented on #305
Yes we would need to add it to each integration callback

[2022-10-10 15:33] dberenbaum commented on #305
MLEM is not that heavy, and we may not have an obvious "native" way to save in each framework.

What do you think about making it a dependency and always saving models with MLEM, or making it an optional dependency and skip saving the model if it's not installed? I think it would be similar to mlflow, where [auto logging](https://mlflow.org/docs/latest/tracking.html#tensorflow-and-keras) saves an

[2022-10-14 13:08] John0x opened #325 "Support for other languages"
Hey, are you guys planning on supporting other languages, aside from python?
We have some machine learning projects that are using Rust, for example.

[2022-10-14 19:47] dberenbaum opened #326 "plots: make output structure consistent between plot types"
Follow up to #322.

The difference in behavior between `log_image` and `log_sklearn_plot` bothers me:

[code]

Now that they both get saved under `plots`, it seems more odd that they have such different behavior and output structure. `images` create a new folder for each step, while `sklearn` throws an exception when used with multiple steps. #271 will only make this more complicated.

For 1.0, dv

[2022-10-17 09:15] daavoo commented on #326
I think it makes sense as default behavior, but doesn't really fix the use case of wanting to view the image updates across epochs (https://github.com/iterative/vscode-dvc/issues/1640).

Nested structure makes sense for that use case and anyhow if users want that structure they can manually generate it (and we can document it) as follows:

[code]

[2022-10-17 11:22] skshetry opened #328 "should `Live` create the directory lazily?"
With lazily, I mean when doing a filesystem operation on that path, it will try to `os.mkdir` instead of creating on a constructor.

https://github.com/iterative/dvclive/blob/2d61715cfcf662908facc942416ac8d6a6006f76/src/dvclive/live.py#L78

I noticed this when there were empty dirs being created on my workspace after running tests:
https://github.com/iterative/dvclive/blob/2d61715cfcf662908facc942

[2022-10-17 17:08] #246 closed

[2022-10-19 15:19] daavoo opened #332 "Drop old DVC integration code"
We left it here for compatibility until DVC 3.0 release but given that DVC already has a minimum version cap for DVCLive we can drop the code on this side for 1.0.

[2022-10-19 19:09] dberenbaum opened #333 "report: "auto" requires matplotlib in ci"
By default, dvclive will try to create a markdown report in CI using matplotlib. This means a script that works locally can fail on CI unless matplotlib is specified as a dependency, which can be surprising. Not sure the best way to handle this (change default behavior? just document it?).

[2022-10-19 20:24] dberenbaum commented on #223
Do you think any of these are a priority for 1.0 @daavoo?

[2022-10-20 08:04] daavoo commented on #223
Nice to have:

- [ ]  #221
- [ ] #172
- [ ] #283
- [ ] #103

[2022-10-20 08:26] daavoo commented on #333
I forgot to add a check in `auto` looking for `matplotlib` installation

[2022-10-20 16:48] dberenbaum commented on #118
Revisiting this after talking with @daavoo and @tibor

1. Still TBD.
2. Completed.
3. I would say it's nice to have and related to #305.
4. Let's not worry about this for now. It's enough to track and retrieve the trial results.

[2022-10-20 17:49] #333 closed

[2022-10-21 08:17] daavoo opened #335 "studio: Cache credentials"

[2022-10-21 08:37] mvshmakov commented on #335
Also, there is a [direnv](https://direnv.net/) for (non-)nix environments which also solves this problem to some extent. Though, say, `gh-cli` and `aws-cli` cache their creds in a way defined in this issue.

[2022-10-21 18:19] dberenbaum opened #336 "`log`: make `log_metric` alias?"
Not sure why anyone would want a longer method, but `log_metric` is more explicit. Is it worth adding for clarification?

[2022-10-21 19:43] dberenbaum commented on #326
What about `live.log_image(f"img/{live.get_step()}.png", img)`? That gives me all steps in a single dir, which is easier for me to browse and easier for us to handle in VS Code, Studio, etc.

[2022-10-21 19:47] dberenbaum commented on #305
This assumes MLEM is saving it in the same native format the framework would use. I just thought it was preferable because:

1. It provides an entrypoint for MLEM and saves its users a step.
2. It means DVCLive doesn't have to maintain the model saving logic or implement this individually into each callback.

[2022-10-24 05:58] aguschin commented on #305
It is, this is the reason for the integrations with ML frameworks we have. Still, sometimes there are multiple ways to save and load a model with a single framework, and MLEM is opinionated in this situations.

[2022-10-24 07:48] daavoo commented on #336
I like it better 😅

[2022-10-25 17:18] #323 closed

[2022-10-26 08:43] #332 closed

[2022-10-27 09:39] #231 closed

[2022-10-27 09:39] #103 closed

[2022-10-27 09:39] daavoo opened #340 "1.0 docs"

[2022-10-27 09:47] pared opened #341 "tests: test making checkpoint"
We do not have a test verifying that our `make_checkpoint` behaves the same as its counterpart in dvc.

[2022-10-27 10:59] daavoo commented on #336
Another thing: users might think that `live.log` supports arbitrary types like `wandb.log` but our API is more along the lines of explicit type suffixes like [mlflow.log_metric](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_metric)

[2022-10-27 13:13] dberenbaum commented on #89
wandb now has support for something similar: https://docs.wandb.ai/guides/track/log#customize-the-summary.

DVCLive could support something similar with either:
1. Granular best metrics like `live.log("loss", 0.2, keep="min")`. This could keep only the min loss instead of the latest loss in the summary `metrics.json`. Other summary metrics would be recorded with the latest values (or min or max as

[2022-10-27 17:56] daavoo commented on #238
We could take https://github.com/iterative/dvclive/pull/338 one **step** further and remove implicit `make_summary` calls.

API would look a little polluted but I think it is still not too bad and explicit:

[code]

Considering callbacks as the main entry point would make the change more like an internal detail

[2022-10-27 23:14] shcheklein commented on #238
How about `live.dump`? (and autodump mode)?

Dumping on the `next_step` makes sense also.

[2022-10-28 08:22] daavoo opened #344 "studio: Include `props` for the plot updates"
Explicitly send the props that are being inferred by DVC

[2022-10-28 12:05] #326 closed

[2022-10-28 15:34] dberenbaum commented on #238
I don't see this actually causing problems now, so not sure it's worth trying to address if it's about optimization, but if it cleans up the API, I'm open to it.

@daavoo Your idea would mean either `make_summary` or some other method should be called in no-step scenarios, right? That might be okay, just want to clarify the tradeoff.

As an alternative, the idea of #145 is still not really impleme

[2022-10-29 00:00] casperdcl commented on #238
for me it's about:

1. intuitive (and clean) API
2. configurability (e.g. log every N steps)

[2022-10-31 16:50] daavoo opened #350 "Add plural `log_{x}` methods"
`log_param` is currently the only method with a "plural" version `log_params`.
It probably makes sense to add an equivalent for the other `log_{x}` methods.

[2022-11-01 23:59] dberenbaum commented on #223
More nice to have:

- [ ] https://github.com/iterative/dvclive/issues/238
- [ ] https://github.com/iterative/dvclive/issues/310
- [ ] https://github.com/iterative/dvclive/issues/311
- [ ] https://github.com/iterative/dvclive/issues/271
- [ ] https://github.com/iterative/dvclive/issues/224

@daavoo Thoughts on these?

[2022-11-02 14:11] dberenbaum commented on #238
Discussed with @daavoo and decided that:

1. It's fine to only call `make_summary` at the end of each step.
2. We should still call it within `next_step` or have some method that can call this along with the methods removed in https://github.com/iterative/dvclive/pull/338 so that non-callback users don't need to manually call something like:

[code]

[2022-11-03 13:52] dberenbaum commented on #223
@daavoo Should #238 be added to the checklist? I think everything else besides docs is complete.

[2022-11-03 17:16] #233 closed

[2022-11-03 17:31] daavoo commented on #223
Moved to the top checklist and there is a P.R. #353

All look like non-breaking changes that can be prioritized but shouldn't block 1.0

[2022-11-03 19:04] dberenbaum commented on #223
What about https://github.com/iterative/dvclive/issues/172 and https://github.com/iterative/dvclive/pull/354?

[2022-11-03 21:04] #66 closed

[2022-11-04 08:39] #238 closed

[2022-11-04 08:39] #232 closed

[2022-11-04 14:20] #172 closed

[2022-11-04 14:53] #336 closed

[2022-11-04 16:07] dberenbaum opened #359 "version attr missing"
Need to support a version attribute to check the current version. I'd say it's important with the intro of 1.0.

[2022-11-05 12:25] #340 closed

[2022-11-05 12:25] #223 closed

[2022-11-07 04:06] skshetry commented on #359
Users can do that easily with:
[code]

[2022-11-07 16:19] alex000kim opened #361 "`DVCLiveLogger` fails without `dir` value"
The below snippet from https://dvc.org/doc/dvclive/get-started?tab=Pytorch-Lightning

[code]

fails with:

[code]

It works when `dir` is set in `DVCLiveLogger` i.e. `DVCLiveLogger(dir='my_logs_dir')`

[2022-11-08 06:18] #361 closed

[2022-11-12 17:35] #341 closed

[2022-11-14 13:19] dberenbaum commented on #359
Judging from https://stackoverflow.com/questions/20180543/how-do-i-check-the-versions-of-python-modules, I guess `dvclive.__version__` may be an outdated/not recommended anymore, although it's still unclear. I still default to that for finding a package version. Do you consider it bad practice? Does it hurt to include it?

[2022-11-14 21:29] dberenbaum commented on #305
A useful feature of having a dedicated `log_model` method would be to `dvc add` whatever gets saved.

[2022-11-14 22:30] alex000kim commented on #359
ahaha, I came to this repo to create this exact issue :)

[2022-11-15 20:32] dberenbaum commented on #311
Not sure we need to actually skip writing to `dvc.yaml` in pipelines. Probably we need an option to choose whether to skip, since if someone has a custom plots configuration, for example, they won't want to use the auto-generated `dvc.yaml`.

[2022-11-16 11:39] skshetry commented on #359
See https://stackoverflow.com/questions/72167802/adding-version-attribute-to-python-module.

I don't see much difference between `version('dvclive')`, and that is in-built into the standard library, and is a canonical truth (even if `dvclive.__version__` may sometimes lie and is just a convention).

Do users want to support multiple versions of `dvclive`? Or, is it for constraining to a certain ve

[2022-11-16 12:55] alex000kim commented on #359
The only argument I can make is the same as what @dberenbaum said:

[2022-11-16 13:40] daavoo commented on #359
My vote is to just recommend `importlib.metadata` when someone asks.

[2022-11-17 19:45] dberenbaum opened #365 "metrics: plot with smooth template"
See https://github.com/iterative/dvc/issues/8396

[2022-11-18 09:02] daavoo commented on #311
I guess we could have DVCLive auto-generate names for now (related to https://github.com/iterative/vscode-dvc/issues/2457) if it's easier than revisiting how exp names are assigned, but it might be better to track changes across the entire repo instead of only in `dvc.lock`.

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/pull/8408#discussion_r1014642023_

[2022-11-25 18:58] daavoo opened #367 "Revisit `live.end` for complex scenarios"
None of this is a blocker since I don't think anything breaks the basic live metrics workflow, but it would be good to have it to "unbreak" more complex scenarios.

It's a little ugly but more likely to work the way users want (log summary/report always).

Can we also have something like this to enable the context manager to override other calls to `end`?

_Originally posted by @dberenbaum in http

[2022-11-28 17:05] daavoo opened #368 "Remove `STUDIO_REPO_URL` requirement."
Try to infer it from the Git config (remote URL of the current tracking branch)

[2022-11-29 21:19] dberenbaum opened #370 "log_sklearn_plot: custom names break make_report"
Examples:

[code]

[code]

[2022-11-30 16:55] daavoo opened #371 "dvc: Configure sklearn plots in generated `dvc.yaml`."
Follow up: configure sklearn plots

_Originally posted by @daavoo in https://github.com/iterative/dvclive/pull/366#discussion_r1036220642_

[2022-11-30 16:57] #344 closed

[2022-11-30 18:45] daavoo opened #373 "dvc: Allow to pass experiment name"
Another follow up: pass an experiment name to use.

_Originally posted by @dberenbaum in https://github.com/iterative/dvclive/pull/366#discussion_r1036252308_

[2022-11-30 20:11] dberenbaum opened #374 "metrics: consolidate into one file"
`live/plots/metrics` ends up containing too many individual files. For example, using the lightning logger, I ended up with this tsv file:

[code]

By contrast, lightning has a built-in csv logger that combines all the metrics into one csv file. Can dvclive either use that logger or write its own outputs to one csv/tsv file?

[2022-11-30 20:13] dberenbaum opened #375 "lightning: use exp name as run_name"
Lightning uses a `run_name` parameter. Once dvclive can retrieve an experiment name during init, let's pass this as the `run_name`.

[2022-11-30 20:17] dberenbaum opened #376 "report/plots: combine train/val/test metrics plots"
Some of the callbacks write out train/val/test metrics. Can we combine these onto one plot instead of plotting them all separately?

[2022-11-30 20:24] dberenbaum opened #377 "report: respect dvc.yaml config"
Related to #376, I could set up custom plots or set custom axis labels/titles in `live/dvc.yaml`. It would be nice for `make_report` to respect the `dvc.yaml` config.

[2022-11-30 20:28] dberenbaum opened #378 "log_artifact"
Similar to https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_artifact, dvclive can have a `log_artifact` method, which can do `dvc add` to track an artifact.

[2022-11-30 21:15] shcheklein commented on #378
@tapadipti @dmpetrov @aguschin I mentioned this in the conversation on the model registry. I think this workflow should be supported. It's a way for people to dump their models to Studio, or to DVC first and connect in Studio, etc. I think this is the basic approach that MLFlow, W&B, etc are taking and it makes sense to me:

- it's aligned with DVCLive efforts and Live metrics, etc.
- It's aligned